@model ams.Models.PK10_PC

@{
    ViewBag.Title = "PCEnableEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />

<div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:24pt">幸運飛艇</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li class="active">@Html.DisplayFor(model => model.Dish)盤</li>
            <li><a href="#">盤口啟用設定</a></li>
        </ol>
    </div>
</div>
<div class="navbar" style="margin-bottom:20px; margin-top:40px">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("盤口啟用設定", "AirShipPCEnableEdit", "AirShip", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口名稱細項設定", "AirShipPCNameEdit", "AirShip", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口水位/退水設定", "AirShipPCWaterEdit", "AirShip", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口投注限額", "AirShipPCDetailEdit", "AirShip", new { Model.SID }, null)</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="CSSTable">
        <tbody>
            <tr>
                <td>名稱</td>
                <td>開關</td>
            </tr>
            <tr>
                <td>
                    冠亞軍和值
                </td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.Sum3.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.Sum3.Enable, "0")
                    @Html.ValidationMessageFor(model => model.Sum3.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>冠亞軍大小單雙</td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.SumSmall.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.SumSmall.Enable, "0")
                    @Html.ValidationMessageFor(model => model.SumSmall.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>冠亞軍組合</td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.ChampionBuild.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.ChampionBuild.Enable, "0")
                    @Html.ValidationMessageFor(model => model.ChampionBuild.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>名次車號</td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.Car1.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.Car1.Enable, "0")
                    @Html.ValidationMessageFor(model => model.Car1.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CarBig.Name)
                    @Html.DisplayFor(model => model.CarSmall.Name)
                    @Html.DisplayFor(model => model.CarOdd.Name)
                    @Html.DisplayFor(model => model.CarEven.Name)
                    @Html.DisplayFor(model => model.CarDra.Name)
                    @Html.DisplayFor(model => model.CarTig.Name)
                </td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.CarSmall.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.CarSmall.Enable, "0")
                    @Html.ValidationMessageFor(model => model.CarSmall.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
    <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("PCIndex", "URL")'" />
}

