@model ams.Models.PK10_PC

@{
    ViewBag.Title = "PCNameEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />
<div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:24pt">幸運飛艇</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li class="active">@Html.DisplayFor(model => model.Dish)盤</li>
            <li><a href="#">盤口名稱細項設定</a></li>
        </ol>
    </div>
</div>
<div class="navbar" style="margin-bottom:20px; margin-top:40px">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("盤口啟用設定", "AirShipPCEnableEdit", "AirShip", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口名稱細項設定", "AirShipPCNameEdit", "AirShip", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口水位/退水設定", "AirShipPCWaterEdit", "AirShip", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口投注限額", "AirShipPCDetailEdit", "AirShip", new { Model.SID }, null)</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="CSSTable">
        <tbody>
            <tr>
                <td>盤口名稱</td>
                <td>
                    @Html.EditorFor(model => model.Dish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dish, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    冠軍和值
                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum3.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum3.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum3.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum4.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum4.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum4.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum5.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum5.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum5.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum6.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum6.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum6.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum7.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum7.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum7.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum8.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum8.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum8.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum9.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum9.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum9.Name, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>@Html.DisplayFor(model => model.Sum10.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum10.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum10.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum11.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum11.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum11.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum12.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum12.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum12.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum13.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum13.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum13.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum14.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum14.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum14.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum15.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum15.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum15.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum16.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum16.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum16.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum17.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum17.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum17.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum18.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum18.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum18.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Sum19.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Sum19.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum19.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    冠軍和值
                    @Html.DisplayFor(model => model.SumBig.Name)
                    @Html.DisplayFor(model => model.SumSmall.Name)
                    @Html.DisplayFor(model => model.SumOdd.Name)
                    @Html.DisplayFor(model => model.SumEven.Name)

                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBig.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumEven.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    冠亞軍組合
                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.ChampionBuild.Name)</td>
                <td>
                    @Html.EditorFor(model => model.ChampionBuild.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChampionBuild.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    名次車號
                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car1.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car1.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car1.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car2.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car2.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car2.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car3.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car3.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car3.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car4.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car4.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car4.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car5.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car5.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car5.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car6.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car6.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car6.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car7.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car7.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car7.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car8.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car8.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car8.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car9.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car9.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car9.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Car10.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Car10.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car10.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名次大小單雙龍虎</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.CarSmall.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarSmall.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarBig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.CarBig.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarBig.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.CarOdd.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarOdd.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.CarEven.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarEven.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarDra.Name)</td>
                <td>
                    @Html.EditorFor(model => model.CarDra.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarDra.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarTig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.CarTig.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarTig.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
    <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("PCIndex", "URL")'" />
}

