@model GeniusBull.PlayGameViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TransHelper.Ui(String.Format("GameName_{0}", Model.GameName))</title>
    <link href="~/assets/css/normalize.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/assets/css/site-game.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/Assets/angular/angular.min.js"></script>
    <script src="~/assets/js/vue.min.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/swfobject/swfobject.min.js"></script>
    <script src="~/assets/js/site-game.js"></script>
</head>
<body>
    <div class="game-wrapper">
        <div id="game"></div>
    </div>
    <div class="lobby" id="lobby">
        <div class="logo"></div>
        <div class="table scrollbar-external_wrapper">
            <div class="thead">
                <ul class="clearfix">
                    <li style="width:24%">@TransHelper.Ui("AnteTai")</li>
                    <li style="width:18%">@TransHelper.Ui("NumOfRound")</li>
                    <li style="width:18%">@TransHelper.Ui("Countdown")</li>
                    <li style="width:20%">@TransHelper.Ui("MinBuyIn")</li>
                    <li style="width:20%">&nbsp;</li>
                </ul>
            </div>
            <div class="tbody scrollbar-external">
                <table-component v-for="table in tables" track-by="TableId" v-bind:table-id="table.TableId" v-bind:antes="table.Antes" v-bind:tai="table.Tai" v-bind:round-type="table.RoundType" v-bind:seconds-to-countdown="table.SecondsToCountdown" v-bind:min-buy-in="table.MinBuyIn"></table-component>
            </div>
            <div class="external-scroll_y">
                <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar"></div>
                </div>
            </div>
        </div>
    </div>
    <template id="table-component">
        <ul class="clearfix">
            <li style="width:24%">{{ antes | money }} / {{ tai | money }}</li>
            <li style="width:18%">{{ roundType }}</li>
            <li style="width:18%">{{ secondsToCountdown }} @TransHelper.Ui("Sec")</li>
            <li style="width:20%">{{ minBuyIn | money }}</li>
            <li style="width:20%"><a class="btn-play" v-on:click="playGame">@TransHelper.Ui("PlayGame")</a></li>
        </ul>
    </template>
    <link href="~/assets/scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/taiwan-mahjong.css" rel="stylesheet" />
    <script src="~/assets/scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/js/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        alertify.defaults.glossary.title = '@TransHelper.Ui("SystemNotification")';
        alertify.defaults.glossary.ok = '@TransHelper.Ui("Ok")';
        alertify.defaults.glossary.cancel = '@TransHelper.Ui("Cancel")';

        Vue.filter('money', function (value) {
            return formatMoney(value);
        })

        Vue.component('table-component', {
            template: '#table-component',
            props: ['tableId', 'antes', 'tai', 'roundType', 'secondsToCountdown', 'minBuyIn'],
            methods: {
                playGame: function () {
                    startGame(this.tableId);
                }
            }
        });

        var lobbyVm = new Vue({
            el: '#lobby',
            data: {
                tables: []
            },
            methods: {
                fetchTables: function () {
                    var self = this;

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("Tables", "TaiwanMahjong")'
                    }).done(function (data) {
                        self.tables = data;
                    });
                }
            },
            created: function () {
                this.fetchTables();
            }
        });

        function startGame(tableId) {
            if (!isFlashPlayerInstalled()) {
                window.location = 'https://get.adobe.com/tw/flashplayer';
                return;
            }

            var swfUrl = '@String.Format("{0}/games/{1}/FlashTwMj.swf?v={2}", ConfigHelper.AssetServerUrl, Model.GameName, Model.GameToken)';
            var flashvars = {
                gameUrl: '@String.Format("{0}/games/{1}", ConfigHelper.AssetServerUrl, Model.GameName)',
                gameName: '@Model.GameName',
                gameCulture: '@Model.Culture',
                gameFileToken: '@Model.GameToken',
                serverUrl: '@Model.ServerUrl',
                serverPort: '@Model.ServerPort',
                accessToken: '@Model.AccessToken',
                rtmpUrl: '@ConfigHelper.RtmpServerUrl',
                recognitionUrl: '@ConfigHelper.RecognitionApiUrl',
                tableId: tableId
            };

            $('#lobby').remove();
            embedSwf(swfUrl, flashvars, 'game', '100%', '100%');
        }

        function returnToLobby() {
            removeSWF('game');
            location.reload();
        }

        $(document).ready(function () {
            var lobbyHub = $.connection.lobbyHub;

            lobbyHub.client.notice = function (message, type, wait) {
                if (type === 'alert') {
                    alertify.alert(message);
                } else {
                    alertify.notify(message, type, wait);
                }
            };

            lobbyHub.client.test = function (msg) {
                console.log(msg);
            }

            $.connection.hub.start().done(function () {
                lobbyHub.server.joinGroup('@ConfigHelper.NoticeGroupName');
                lobbyHub.server.joinGroup('@ConfigHelper.TwMahjongGroupName');
            });

            $('.scrollbar-external').scrollbar({
                'autoScrollSize': false,
                'scrollx': $('.external-scroll_x'),
                'scrolly': $('.external-scroll_y')
            });
        });
    </script>
</body>
</html>
