@using jqx;
@{ Layout = "_Layout.cshtml"; }
@section head { @RenderSection("head", false) }

<div @(new jqxSplitter { width = "100%", height = "100%", showSplitBar = false, orientation = orientation.horizontal, resizable = true, panel1 = { collapsible = false, size = 31, collapsed = !IsSectionDefined("top") }, panel2={ collapsible = false } })>
    <div>@RenderSection("top", false)</div>
    <div>
        <div @(new jqxSplitter { width = "100%", height = "100%", splitBarSize = 1, showSplitBar = IsSectionDefined("left"), orientation = orientation.vertical, resizable = true, panel1={ collapsible = false, size = ViewBag.PanelLeft ?? "25%", collapsed = !IsSectionDefined("left") }, panel2= { collapsible = false } })>
            <div >@RenderSection("left", false)</div>
            <div>
                <div @(new jqxSplitter { width = "100%", height = "100%", splitBarSize = 1, showSplitBar = IsSectionDefined("bottom"), orientation = orientation.horizontal, resizable = true, panel1={ collapsible = false, size = ViewBag.PanelBody ?? "60%" }, panel2={ collapsible = false, collapsed = !IsSectionDefined("bottom") } })>
                    <div>@RenderBody()</div>
                    <div>@RenderSection("bottom", false)</div>
                </div>
            </div>
        </div>
    </div>
</div>
