@using jqx
@using ams
@using ams.Controllers;
@{
    bool hist = false; if (this.Model is bool) { hist = (bool)this.Model; }
    ViewBag.PanelBody = widgets.tran_size;
    Type apiControllerType = ViewBag.apiControllerType;
    _WebViewPage page = ViewBag.Page;
    string link1 = ViewBag.Link1;
    string link2 = ViewBag.Link2;
    jqxGrid grid = new jqxGrid
    {
        page = this,
        scope_id = "grid1",
        source = { id = "ID", url = Url.GetActionUrl(apiControllerType, hist ? "hist" : "list") },
        pager = { pageable = true, pagermode = pagermode.simple, },
        filter = { filterable = true, server_filtering = true, showfilterrow = false, showfiltermenuitems = false, },
        sorting = { sortable = true, server_sorting = true, },
        editmode = editmode.selectedcell,
        selectionmode = selectionmode.singlerow,
        selectedrowindex = 0,
        //rowdetails = true,
        //rowdetailstemplate = new { rowdetails= "<div style='margin: 10px;'><ul style='margin-left: 30px;'><li class='title'></li><li>Notes</li></ul><div class='information'></div><div class='notes'></div></div>", rowdetailsheight= 200 },
        columns = new[] {
            new jqxGrid._column { _datafield = { name = "SerialNumber", type = dataFieldType._string }, text = lang["SerialNumber"], width = 150 },
            new jqxGrid._column { _datafield = { name = "LogType     ", type = dataFieldType._number }, text = lang["LogType     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "State       ", type = dataFieldType._number }, text = lang["State       "], width = 100 },
            new jqxGrid._column { _datafield = { name = "CorpID      ", type = dataFieldType._number }, text = lang["CorpID      "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "CorpName    ", type = dataFieldType._number }, text = lang["CorpName    "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "ProviderID  ", type = dataFieldType._number }, text = lang["ProviderID  "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "ProviderName", type = dataFieldType._number }, text = lang["ProviderName"], width = 100 },
            new jqxGrid._column { _datafield = { name = "UserID      ", type = dataFieldType._number }, text = lang["UserID      "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "UserName    ", type = dataFieldType._number }, text = lang["UserName    "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Amount1     ", type = dataFieldType._number }, text = lang["Amount1     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Amount2     ", type = dataFieldType._number }, text = lang["Amount2     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Amount3     ", type = dataFieldType._number }, text = lang["Amount3     "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "CurrencyA   ", type = dataFieldType._number }, text = lang["CurrencyA   "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "CurrencyB   ", type = dataFieldType._number }, text = lang["CurrencyB   "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "CurrencyX   ", type = dataFieldType._number }, text = lang["CurrencyX   "], width = 100, hidden = true },
            new jqxGrid._columns.DateTime { _datafield = { name = "AcceptTime " }, text = lang["AcceptTime "] },
            new jqxGrid._columns.User____ { _datafield = { name = "AcceptUser " }, text = lang["AcceptUser "] },
            new jqxGrid._columns.DateTime { _datafield = { name = "RejectTime " }, text = lang["RejectTime "] },
            new jqxGrid._columns.User____ { _datafield = { name = "RejectUser " }, text = lang["RejectUser "] },
            new jqxGrid._columns.DateTime { _datafield = { name = "FinishTime " }, text = lang["FinishTime "] },
            new jqxGrid._columns.User____ { _datafield = { name = "FinishUser " }, text = lang["FinishUser "] },
            new jqxGrid._column { _datafield = { name = "RequestIP   ", type = dataFieldType._string }, text = lang["RequestIP   "], width = 100 },
            new jqxGrid._columns.DateTime { _datafield = { name = "RequestTime" }, text = lang["RequestTime"] },
            new jqxGrid._columns.User____ { _datafield = { name = "RequestUser" }, text = lang["RequestUser"] },
            new jqxGrid._columns.DateTime { _datafield = { name = "LifeTime   " }, text = lang["LifeTime   "] },
            new jqxGrid._column { _datafield = { name = "TranID      ", type = dataFieldType._string }, text = lang["TranID      "], width = 100 },
        }
    };
    string lang_Accept = lang["Accept"];
    string lang_Confirm = lang["Confirm"];
    string lang_Reject = lang["Reject"];
    string visible1 = widgets._ng_show(grid, "");
    string visible2 = widgets._ng_show(grid, "accept");
    string visible3 = widgets._ng_show(grid, "confirm");
    string visible4 = widgets._ng_show(grid, "reject");
    if (hist) { widgets.layout_2(this, grid); }
    else { widgets.layout_grid_detail(this, grid); }
}
@if (hist)
{
@section head {
<script type="text/javascript">
    $(document).on('ng-corp-init', function (e, $scope, $compile, $http) {
        window.$grid1 = $scope['@grid.scope_id'] = $('#_grid1').jqxGridEx($.n(@grid), {
            $scope: $scope,
            ext: { formatData: function (data) { data.CorpName = $scope.select_corp; return data; }, },
        });
    });
</script>
}
@section toolbar {
    @toolbars.CorpList(grid, "select_corp")
    @toolbars.HistoryLink(grid, link1, page.lang["List"])
    @toolbars.GridRefresh(grid)
}
}
else
{
@section head {
<script type="text/javascript">
    $(document).on('ng-corp-init', function (e, $scope, $compile, $http) {
        function OnUpdateComplete(rowid, row, data) {
            if (data.IsDelete === true) window.setTimeout(function () {
                var s = $grid1.getselectedrowindex()
                $grid1.deleterow(rowid);
                $grid1.selectrow(s)
            }, 500);
            else
                $grid1.SetRowData(rowid, data);
        }

        window.$grid1 = $scope['@grid.scope_id'] = $('#_grid1').jqxGridEx($.n(@grid), {
            $scope: $scope,
            ext: {
                grps: {
                    '': {
                        OnUpdate: function (rowid, rowdata, data, jqXHR, settings) {
                            data.CorpName = $scope.select_corp;
                            settings.url = '@(Url.GetActionUrl(apiControllerType, "set"))';
                        },
                    },
                    'accept': {
                        OnUpdate: function (rowid, rowdata, data, jqXHR, settings) {
                            this.data = { CorpName: rowdata.CorpName, TranID: rowdata.TranID };
                            settings.url = '@(Url.GetActionUrl(apiControllerType, "accept"))';
                        },
                        OnUpdateComplete: OnUpdateComplete,
                    },
                    'confirm': {
                        OnUpdate: function (rowid, rowdata, data, jqXHR, settings) {
                            this.data = { CorpName: rowdata.CorpName, TranID: rowdata.TranID };
                            settings.url = '@(Url.GetActionUrl(apiControllerType, "confirm"))';
                        },
                        OnUpdateComplete: OnUpdateComplete,
                    },
                    'reject': {
                        OnUpdate: function (rowid, rowdata, data, jqXHR, settings) {
                            this.data = { CorpName: rowdata.CorpName, TranID: rowdata.TranID };
                            settings.url = '@(Url.GetActionUrl(apiControllerType, "reject"))';
                        },
                        OnUpdateComplete: OnUpdateComplete,
                    }
                },
                formatData: function (data) {
                    data.CorpName = $scope.select_corp; return data;
                },
                OnAddingRow: function (addRow) {
                    addRow(null, { UserName: '', Amount1: 0, Amount2: 0, Amount3: 0, CorpName: $scope.select_corp });
                },
                OnAddRow: function (row, jqXHR, settings) {
                    settings.url = '@(Url.GetActionUrl(apiControllerType, "add"))';
                },
            },
            //initrowdetails: function (index, parentElement, gridElement, datarecord) {
            //    console.log('initrowdetails', arguments)
            //}
        });
    });
</script>
}
@section toolbar {
    @toolbars.CorpList(grid, "select_corp")
    @toolbars.HistoryLink(grid, link2)
    @toolbars.GridAdd(grid)
    @toolbars.GridRefresh(grid)
}
@section add_form {
<section class="container-fluid form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    @widgets.TextInput("    ", grid, "UserName  ", addonly: true)
                    @widgets.NumberInput("  ", grid, "Amount1   ", addonly: true, min: 0)
                    @widgets.NumberInput("  ", grid, "Amount2   ", addonly: true, min: 0)
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @widgets.CommandsAdd(grid, label_width: 0, btn_width: 6, hr: true)
                </div>
            </div>
        </div>
        <div class="col-sm-2 hidden">
            <div class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</section>
}
@section edit_form {
<section class="container-fluid form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    @*@widgets.TextBox("  ", grid, "TranID        ")*@
                    @*@widgets.TextBox("  ", grid, "LogType       ")*@
                    @widgets.TextBox("  ", grid, "SerialNumber  ")
                    @*@widgets.TextBox("  ", grid, "CorpID        ")*@
                    @*@widgets.TextBox("  ", grid, "CorpName      ")*@
                    @*@widgets.TextBox("  ", grid, "ProviderID    ")*@
                    @*@widgets.TextBox("  ", grid, "ProviderName  ")*@
                    @*@widgets.TextBox("  ", grid, "UserID        ")*@
                    @widgets.TextBox("  ", grid, "UserName      ")
                    @widgets.TextBox("  ", grid, "Amount1       ")
                    @widgets.TextBox("  ", grid, "Amount2       ")
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_hide: visible2 + " || " + visible3 + " || " + visible4, grp_name: "      ")
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_show: visible2 + " || " + visible3 + " || " + visible4, grp_name: "      ", disabled: true)
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_hide: visible1 + " || " + visible3 + " || " + visible4, grp_name: "accept", text_edit: lang_Accept, text_save: lang_Accept)
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_show: visible1 + " || " + visible3 + " || " + visible4, grp_name: "accept", text_edit: lang_Accept, text_save: lang_Accept, disabled: true)
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_hide: visible1 + " || " + visible2 + " || " + visible4, grp_name: "confirm", text_edit: lang_Confirm, text_save: lang_Confirm)
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_show: visible1 + " || " + visible2 + " || " + visible4, grp_name: "confirm", text_edit: lang_Confirm, text_save: lang_Confirm, disabled: true)
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_hide: visible1 + " || " + visible2 + " || " + visible3, grp_name: "reject", text_edit: lang_Reject, text_save: lang_Reject)
                    @widgets.CommandsEdit(grid, label_width: 0, btn_width: 6, ng_show: visible1 + " || " + visible2 + " || " + visible3, grp_name: "reject", text_edit: lang_Reject, text_save: lang_Reject, disabled: true)
                </div>
            </div>
        </div>
        <div class="col-sm-2 hidden">
            <div class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</section>
}
}
<div id="_grid1"></div>
@RenderBody()