@using jqx
@using ams
@using ams.Controllers;
@{
    ViewBag.Title = "Member Game Withdrawal";
    ViewBag.PanelBody = widgets.tran_size;
    jqxGrid grid = new jqxGrid
    {
        page = this,
        row_numbers = true,
        source = { id = "ID", url = Url.GetActionUrl<MemberTranApiController>("game_withdrawal_list"), },
        pageable = false,
        pagermode = pagermode.simple,
        filterable = true,
        sortable = true,
        server_sorting = true,
        editmode = editmode.selectedcell,
        selectionmode = selectionmode.singlerow,
        showfilterrow = false,
        showfiltermenuitems = false,
        server_filtering = true,
        selectedrowindex = 0,
        columns = new[] {
            new jqxGrid._column { _datafield = { name = "TranID      ", type = dataFieldType._string }, text = lang["TranID      "], width = 100 },
            new jqxGrid._column { _datafield = { name = "LogType     ", type = dataFieldType._number }, text = lang["LogType     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "SerialNumber", type = dataFieldType._string }, text = lang["SerialNumber"], width = 120 },
            new jqxGrid._column { _datafield = { name = "CorpID      ", type = dataFieldType._number }, text = lang["CorpID      "], width = 100 },
            new jqxGrid._column { _datafield = { name = "ProviderID  ", type = dataFieldType._number }, text = lang["ProviderID  "], width = 100 },
            new jqxGrid._column { _datafield = { name = "ProviderName", type = dataFieldType._number }, text = lang["ProviderName"], width = 100 },
            new jqxGrid._column { _datafield = { name = "UserID      ", type = dataFieldType._number }, text = lang["UserID      "], width = 100 },
            new jqxGrid._column { _datafield = { name = "UserName    ", type = dataFieldType._number }, text = lang["UserName    "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Amount1     ", type = dataFieldType._number }, text = lang["Amount1     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Amount2     ", type = dataFieldType._number }, text = lang["Amount2     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Amount3     ", type = dataFieldType._number }, text = lang["Amount3     "], width = 100 },
            new jqxGrid._column { _datafield = { name = "CurrencyA   ", type = dataFieldType._number }, text = lang["CurrencyA   "], width = 100 },
            new jqxGrid._column { _datafield = { name = "CurrencyB   ", type = dataFieldType._number }, text = lang["CurrencyB   "], width = 100 },
            new jqxGrid._column { _datafield = { name = "CurrencyX   ", type = dataFieldType._number }, text = lang["CurrencyX   "], width = 100 },
            new jqxGrid._column { _datafield = { name = "RequestIP   ", type = dataFieldType._string }, text = lang["RequestIP   "], width = 100 },
            new jqxGrid._columns.DateTime { _datafield = { name = "RequestTime" }, text = lang["RequestTime"] },
            new jqxGrid._columns.User____ { _datafield = { name = "RequestUser" }, text = lang["RequestUser"] },
            new jqxGrid._columns.DateTime { _datafield = { name = "LifeTime   " }, text = lang["LifeTime   "] },
            new jqxGrid._columns.DateTime { _datafield = { name = "AcceptTime " }, text = lang["AcceptTime "] },
            new jqxGrid._columns.User____ { _datafield = { name = "AcceptUser " }, text = lang["AcceptUser "] },
            new jqxGrid._columns.DateTime { _datafield = { name = "FinishTime " }, text = lang["FinishTime "] },
            new jqxGrid._columns.User____ { _datafield = { name = "FinishUser " }, text = lang["FinishUser "] },
        }
    };
}
@section head {
    @Bundles.RenderStyles(this, null, false)
    @Bundles.RenderScripts(this, null, false)
    <script type="text/javascript">
        $(document).on('ng-corp-init', function (e, $scope, $compile, $http) {
            window.$grid1 = $('#_grid1').jqxGridEx($.n(@grid), {
                ext: {
                    formatData: function (data) {
                        data.CorpID = $scope.select_corp; return data;
                    },
                },
            });
        });
    </script>
}
@section toolbar {
    @toolbars.CorpList(grid, "select_corp")
    @toolbars.HistoryLink(grid, "MemberGameWithdrawal", lang["GameWithdrawal"])
    @toolbars.GridRefresh(grid)
}
<div id="_grid1"></div>