@using jqx
@using ams
@using ams.Controllers;
@{
    ViewBag.Title = "Games";
    ViewBag.PanelBody = widgets.tran_size;
    jqxGrid grid = new jqxGrid<ams.Data.GameInfo>
    {
        page = this,
        scope_id = "grid1",
        source = { id = "ID", url = Url.GetActionUrl<GamesApiController>("list"), },
        pager = { pagermode = pagermode.simple, pageable = true, server_paging = true, pagesize = 1000 },
        filter = { filterable = true, server_filtering = true, showfilterrow = true, showfiltermenuitems = false, },
        sorting = { sortable = true, server_sorting = true, },
        editmode = editmode.selectedcell,
        selectionmode = selectionmode.singlerow,
        selectedrowindex = 0,
        columns = new[] {
            //new jqx_column.ActionEdit(this),
            new jqx_column.ID1(this, "ID"),
            new jqx_column.GameClass(this),
            //new jqx_column.GameID(this) { width = 80, hidden = false },
            //new jqxGrid._column { _datafield = { name = "GameID   ", type = dataFieldType._number }, text = lang["GameID   "], width = 100 },
            new jqxGrid._column { _datafield = { name = "Name     ", type = dataFieldType._string }, text = lang["GameName     "], width = 150 },
            new jqxGrid._column { _datafield = { name = "ver      ", type = dataFieldType._number }, text = lang["ver          "], width = 100, hidden = true },
            new jqxGrid._column { _datafield = { name = "Name_en  ", type = dataFieldType._string }, text = lang["GameName(en) "], width = 150 },
            new jqxGrid._column { _datafield = { name = "Name_cht ", type = dataFieldType._string }, text = lang["GameName(cht)"], width = 150 },
            new jqxGrid._column { _datafield = { name = "Name_chs ", type = dataFieldType._string }, text = lang["GameName(chs)"], width = 150 },
            new jqxGrid._columns.DateTime { _datafield = { name = "CreateTime   " }, text = lang["CreateTime    "] },
            new jqxGrid._columns.User____ { _datafield = { name = "CreateUser   " }, text = lang["CreateUser    "] },
            new jqxGrid._columns.DateTime { _datafield = { name = "ModifyTime   " }, text = lang["ModifyTime    "] },
            new jqxGrid._columns.User____ { _datafield = { name = "ModifyUser   " }, text = lang["ModifyUser    "] },
            //new jqxGrid._column { _datafield = { name = "ID       ", type = dataFieldType._string }, text = lang["ID       "], width = 300 },
        }
    };
    widgets.layout_grid_detail(this, grid);
    }
    @section head {
    <script type="text/javascript">
        $(document).on('ng-app-init', function (e, $scope, $compile, $http) {
            window.$grid1 = $scope['@grid.scope_id'] = $('#_grid1').jqxGridEx($.n(@grid), {
                $scope: $scope,
                columns:[
                    {
                        name: '_action_inline_edit', width: 80,
                    }
                ],
                ext: {
                    grps: {
                        '': {
                            OnUpdate: function (rowid, rowdata, data, jqXHR, settings) {
                                settings.url = '@(Url.GetActionUrl<GamesApiController>("set"))';
                            },
                        },
                        'aaa': {
                            OnUpdate: function (rowid, rowdata, data, jqXHR, settings) {
                            },
                            OnLoading: function (rowid, rowdata, jqXHR, settings) {
                            },
                        },
                        'bbb': {}
                    },
                    OnAddingRow: function (addRow) {
                        for (var id = 1, id_max = 0xffff; id < id_max; id++) {
                            var row = this.getrowdatabyid(id);
                            if (row == null) {
                                $scope.grid1.ext.addRow(id, {
                                    GameClass: '@GameClass.EGame',
                                    GameID: 1,
                                    Name: '',
                                });
                                return;
                            }
                        }
                    },
                    OnAddRow: function (data, jqXHR, settings) {
                        settings.url = '@(Url.GetActionUrl<GamesApiController>("add"))';
                    },
                },
                event: {
                    //'*': function (event) { console.log(event.type, event); },
                    bindingcomplete: function (event) {
                        //event.owner.selectrow(0)
                    },
                },
            });
        });
    </script>
}
@section toolbar {
    @toolbars.GridAdd(grid)
    @toolbars.GridRefresh(grid)
}
@section add_form {
    <section class="container-fluid form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">@lang["General"]</h3></div>
                    <div class="panel-body">
                        @widgets.GameClass("  ", grid, "GameClass", addonly: true)
                        @widgets.NumberInput("", grid, "ID       ", addonly: true, min: 1, max: 0xffff)
                        @widgets.TextInput("  ", grid, "Name     ", addonly: true)
                        @widgets.CommandsAdd(grid)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hidden">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">@lang[""]</h3></div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section edit_form {
    <section class="container-fluid form-horizontal">
        <ul class="nav nav-pills">
            <li class="active"><a href="" data-toggle="tab" data-target=".tab1">@lang["General"]</a></li>
            <li class="hidden"><a href="" data-toggle="tab" data-target=".tab2">@lang[""]</a></li>
            <li class="hidden"><a href="" data-toggle="tab" data-target=".tab3">@lang[""]</a></li>
            <li class="hidden"><a href="" data-toggle="tab" data-target=".tab4">@lang[""]</a></li>
            <li class="hidden"><a href="" data-toggle="tab" data-target=".tab5">@lang[""]</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab1 row tab-pane fade in active">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @widgets.GameClass("  ", grid, "GameClass")
                            @widgets.NumberInput("", grid, "ID       ", min: 1, max: 0xffff)
                            @widgets.TextInput("  ", grid, "Name     ")
                            @widgets.CommandsEdit(grid)
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @widgets.TextInput("  ", grid, "Name_en  ")
                            @widgets.TextInput("  ", grid, "Name_cht ")
                            @widgets.TextInput("  ", grid, "Name_chs ")
    </div>
                    </div>
                </div>
            </div>
            <div class="tab2 row tab-pane fade"><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">2</div></div></div><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">2</div></div></div></div>
            <div class="tab3 row tab-pane fade"><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">3</div></div></div><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">3</div></div></div></div>
            <div class="tab4 row tab-pane fade"><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">4</div></div></div><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">4</div></div></div></div>
            <div class="tab5 row tab-pane fade"><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">5</div></div></div><div class="col-sm-6"><div class="panel panel-default"><div class="panel-body">5</div></div></div></div>
        </div>
    </section>
}
<div id="_grid1"></div>