@inherits _WebViewPage
@using ams
@{ Layout = null; }

<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ams</title>
    <link rel="stylesheet" href="~/fonts/fonts.less" />
    @Bundles.jquery.Render()
    @Bundles.bootstrap.Render(false)
    @Bundles.modernizr.Render()
    @Bundles.angular.Render()
    @Bundles.RenderStyles(this, "index2", false)
    @Bundles.RenderScripts(this, "index2", false)
    <script type="text/javascript">
        var app = angular.module('app', ['ui.bootstrap', 'ui.directives']).controller('main', function ($scope) {
            window.$scope = $scope;

            $scope.logout = function () {
                //console.log('logout');
                $.invoke_api({
                    url: '@(Url.GetActionUrl<ams.Controllers.UserSignInApiController>("logout"))',
                    success: function (data, textStatus, jqXHR) {
                        if (data.Status == '@((int)Status.Success)') { location.reload(true); }
                    },
                })
            }

            //$scope.navmenu = { left: 0, width: 0 };

            $scope.menu = {
                active: null,
                items: {},
                init: function (node) {
                    $scope.menu.items[node.id] = node;
                    if (node.is_default === true)
                        load_content(node.url);
                },
                click: function (id) {
                    event.preventDefault();
                    $scope.menu.active = id;
                    var node = $scope.menu.items[id];
                    load_content(node.url);
                }
            };

            function load_content(url) {
                if (url == null) return;
                if (url == '') return;
                $('#content').prop('src', url);
            }


            $scope.content_mask = false;

            function set_dropdown_hide(hidden) {
                if (hidden) { $scope.$apply('content_mask = false'); }
                else { $scope.$apply('content_mask = true'); }
            }

            $(window).resize(function () {
                var $navbar = $('#navbar');
                var $navbar_header = $('#navbar_header');
                var $navbar_accinfo = $('#navbar_accinfo');

                $('#content, #content-mask').height($(document).innerHeight() - $navbar_header.outerHeight());
                var w1 = $navbar.innerWidth();
                var w2 = $navbar_header.outerWidth() + $navbar_accinfo.outerWidth();
                //$('#navbar_menu').width(w1 - w2 - 10);

                //$scope.navmenu.left = $navbar_header.position().left + $navbar_header.outerWidth();
                //$scope.navmenu.width = $('#navbar_nav').innerWidth() - $scope.navmenu.left - $('#navbar_accinfo').position().left;
            });

            $(document).ready(function () {
                $('#navbar .dropdown, #navbar .dropdown-submenu').on('closeOpened', function (event, opened) {
                    set_dropdown_hide(opened == null);
                    //console.log('closeOpened - 2', opened);
                });
                $(document).click(function () {
                    set_dropdown_hide($('#navbar .dropdown.open').length == 0);
                    //console.log($('#navbar .dropdown.open').length);
                });
                $(window).trigger('resize');
            });

        });
   </script>
    <style type="text/css">
        @@media (min-width: 768px) {
            /*#navbar_nav { position: relative; }
            #navbar_menu__ { overflow-x: auto; white-space: nowrap; top: 0; left: {{navmenu.left}}px; width: {{navmenu.width/2}}px; }
            #navbar_menu_ { position: absolute; left: 200px; top: 0; width: 500px; height: 50px; }
            #navbar_menu { position: absolute; left: -100px; white-space: nowrap; }
            #navbar_menu > li { float: none; display: inline-block; z-index: 100; }*/
        }
        /*#navbar1 .chevron { display: none; }*/
        /*@@media (min-width: 768px) {
            #navbar1 { position: relative; width: {{n1_width}}px; }
        }*/
    </style>
</head>
<body ng-controller="main">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div id="navbar_header" class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar_nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand"><img src="~/img/logo.png" alt="logo"></div>
        </div>
        <div id="navbar_nav" class="collapse navbar-collapse">
            <ul id="navbar_menu" class="nav navbar-nav" style="">
                @Html.Partial("Menu")
            </ul>
            <ul id="navbar_accinfo" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                        @_User.Current.Name
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a>
                                <i class="fa fa-fw fa-ellipsis-h"></i>
                                @lang["Account Detail"]
                                <iframe id="msg_frame" src="@Url.Action("Message", "Home", new { Area = _url.areas.Main })"></iframe>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                @lang["Log Out"]
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown hidden">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-fw fa-cog"></i>
                        <span class="visible-xs-inline">
                            @lang["Options"]
                            <i class="caret"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <iframe id="content" name="content"></iframe>
    <div id="content-mask" ng-show="content_mask"></div>
</body>
</html>
