@using jqx;
@{
    ViewBag.Title = "User List";
}
@section head {
    @Bundles.RenderStyles(this, null, false)
    @Bundles.RenderScripts(this, null, false)
    <script type="text/javascript">
        $(document).on('ng-app-init', function () {
            var _root_id = parseInt('@UserID.root');

            $scope.aaa = function () {
                console.log('1');
            }

            function init() {
                if ($scope.tabs == null) return;
                if ($scope.tree == null) return;
                var obj1 = JSON.parse('@Html.Raw(json.SerializeObject(this.Model))');
                $scope.tree.addTo(obj1);
                var item1 = $scope.tree.getItemByID(obj1.id);
                //$scope.tree.addTo({ id: 2, value: { tabs: [false, true, true, true] } }, item1);
                $scope.tree.selectItem(item1.element);
            }

            $scope.tabs_opts = {
                events: {
                    '*': function (event) {
                        console.log('tabs', event);
                    },
                    'created': function (event) {
                        $scope.tabs = event.owner;
                        init();
                    }
                }
            }

            $scope.tree_opts = {
                events: {
                    '*': function (event) {
                        console.log('tree', event);
                    },
                    'initialized': function (event) {
                        $scope.tree = event.owner;
                        init();
                    },
                    'select': function (event) {
                        var item = $scope.tree.getItem(event.args.element);
                        var tabs_index = $scope.tabs.val();
                        $scope.current = item;
                        var tabs = item.value.tabs;
                        if (tabs[tabs_index] == false) {
                            for (var i = 0; i < tabs.length; i++) {
                                var n = (tabs_index + i) % tabs.length;
                                if (tabs[n] === true) {
                                    $scope.tabs.select(n);
                                    break;
                                }
                            }
                        }
                        $scope.$applyAsync();
                        //var tabSelect = $scope.tabs.
                    },
                    'itemClick': function (event) {
                        //var item = event.owner.getItem(event.args.element);
                        //console.log('tree itemClick', item);
                    },
                },
                //visible1: true,
                //visible2: true,
                //visible3: true,
                //visible4: true,
                //visible_update: function () {
                //},
                //tabs_visible: function (index) {
                //    var item = $scope.tree.getSelectedItem();
                //    if (item != null) {
                //        index++;
                //    }
                //    return true;
                //}
            }

            $scope.grid1_opts = {
                columns: [
                    // @(new jqxGrid.column { })
                    $.jqx.columns.row_number(),
                    //$.jqx.columns.row_command(),
                    { text: '@lang["uid       "]', dataField: { name: '@trim["uid       "]', type: '@trim["string"]' }, width: 100, align: 'center' },
                    { text: '@lang["ID        "]', dataField: { name: '@trim["ID        "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["ver       "]', dataField: { name: '@trim["ver       "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["CorpID    "]', dataField: { name: '@trim["CorpID    "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["ParentID  "]', dataField: { name: '@trim["ParentID  "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["ACNT      "]', dataField: { name: '@trim["ACNT      "]', type: '@trim["string"]' }, width: 100, align: 'center' },
                    { text: '@lang["Name      "]', dataField: { name: '@trim["Name      "]', type: '@trim["string"]' }, width: 100, align: 'center' },
                    { text: '@lang["Active    "]', dataField: { name: '@trim["Active    "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["Depth     "]', dataField: { name: '@trim["Depth     "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["UserLevel "]', dataField: { name: '@trim["UserLevel "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["MaxDepth  "]', dataField: { name: '@trim["MaxDepth  "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["MaxAgent  "]', dataField: { name: '@trim["MaxAgent  "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["MaxAdmin  "]', dataField: { name: '@trim["MaxAdmin  "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["MaxMember "]', dataField: { name: '@trim["MaxMember "]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["CreateTime"]', dataField: { name: '@trim["CreateTime"]', type: '@trim["date  "]' }, width: 100, align: 'center' },
                    { text: '@lang["CreateUser"]', dataField: { name: '@trim["CreateUser"]', type: '@trim["number"]' }, width: 100, align: 'center' },
                    { text: '@lang["ModifyTime"]', dataField: { name: '@trim["ModifyTime"]', type: '@trim["date  "]' }, width: 100, align: 'center' },
                    { text: '@lang["ModifyUser"]', dataField: { name: '@trim["ModifyUser"]', type: '@trim["number"]' }, width: 100, align: 'center' },
                ],
            };
        });
    </script>
}
<div @(new jqxSplitter { width = "100%", height = "100%", showSplitBar = false, orientation = orientation.horizontal, resizable = true })>
    <div @(new jqxSplitter.panel { collapsible = false, size = 31 })>
        toolbar
    </div>
    <div @(new jqxSplitter.panel { collapsible = false })>
        <div @(new jqxSplitter { width = "100%", height = "100%", splitBarSize = 1, orientation = orientation.vertical, resizable = true })>
            <div @(new jqxSplitter.panel { collapsible = false, size = ViewBag.PanelLeft ?? "25%" })>
                <div @(new jqxSplitter { width = "100%", height = "100%", splitBarSize = 1, orientation = orientation.horizontal })>
                    <div @(new jqxSplitter.panel { size = "50%", collapsible = false })>
                        <div @(new jqxTree { settings = "$scope.tree_opts", width = "100%", height = "100%" })></div>
                        @*<ul @(new jqxDropDownList { width = "100%", height = "100%", placeHolder = "select corp:", autoDropDownHeight = true, animationType = animationType.none })>
                                <li data-value="1">1</li>
                                <li data-value="2">2</li>
                                <li data-value="3">3</li>
                            </ul>*@
                    </div>
                    <div @(new jqxSplitter.panel { })>
                        <pre style="width: 100%; height: 100%;">
+ a
+-- aa
+---- aaa
class 1
class 2
class 3
class 4
[agent tree view] / [agent list by level]
</pre>
                    </div>
                </div>
            </div>
            <div @(new jqxSplitter.panel { collapsible = false })>
                <div style="border:0;" @(new jqxSplitter { width = "100%", height = "100%", splitBarSize = 1, showSplitBar = true, orientation = orientation.horizontal, resizable = true })>
                    <div @(new jqxSplitter.panel { collapsible = false, size = ViewBag.PanelBody ?? "50%" })>
                        <div @(new jqxTabs { settings = "$scope.tabs_opts", width = "100%", height = "100%" })>
                            <ul>
                                <li ng-show="current.value.tabs[0]">@lang["Corps", "tab_corp"]</li>
                                <li ng-show="current.value.tabs[1]">@lang["Agents", "tab_agent"]</li>
                                <li ng-show="current.value.tabs[2]">@lang["Admins", "tab_admin"]</li>
                                <li ng-show="current.value.tabs[3]">@lang["Members", "tab_member"]</li>
                            </ul>
                            <div>corps</div>
                            <div>agents</div>
                            <div>admins</div>
                            <div>members</div>
                        </div>

                        @* agent & member *@
                        @*<div @(new jqxGrid { settings = "$scope.grid1_opts", instance = "$scope.grid1", pageable = true, pagermode = pagermode.simple, filterable = true, editable = true, sortable = true, server_sorting = false, editmode = editmode.selectedcell, selectionmode = selectionmode.singlerow, showstatusbar = false, showeverpresentrow = false, })>
                                <div @(new jqxGrid.source { id = "ID", url = Url.GetActionUrlContent<ams.Controllers.AgentAccountApiController>("list") })></div>
                            </div>*@
                    </div>
                    <div @(new jqxSplitter.panel { collapsible = false })>
                        details
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
