@*@page "/"*@
@model InnateGlory.Pages.Home.MainModel
@using InnateGlory.Models
@inject amsUser user;
@inject RandomID rid
@inject IViewLang menu
@{
    lang.ResPath = "Main";
    menu.ResPath = "Menu";
}

@section head {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/webix/skins/flat.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/all.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link inline rel="stylesheet" href-auto />
}

<div class="p00">
    <div class="p10 text-light bg-dark">
        <div id="toolbar1"></div>
        <div class="btn btn-dark d-none d-lg-block" onclick="a1.toggle_left(false)"><i class="fa fa-bars"></i></div>
        <div class="btn btn-dark d-block d-lg-none" onclick="a1.toggle_left(true) "><i class="fa fa-bars"></i></div>
        <div class="w-100"></div>
        <div class="btn btn-dark d-none d-lg-block" onclick="a1.toggle_right(2, false)"><i class="fa fa-user-alt"></i> @user.UserData.DisplayName</div>
        <div class="btn btn-dark d-block d-lg-none" onclick="a1.toggle_right(2, true) "><i class="fa fa-user-alt"></i> @user.UserData.DisplayName</div>
        <div class="btn btn-dark d-none d-lg-block" onclick="a1.toggle_right(1, false)"><i class="fa fa-cogs"></i></div>
        <div class="btn btn-dark d-block d-lg-none" onclick="a1.toggle_right(1, true) "><i class="fa fa-cogs"></i></div>
        <div class="btn btn-dark d-none d-lg-block" onclick="a1.toggle_right(null, false)"><i class="fa fa-bars"></i></div>
        <div class="btn btn-dark d-block d-lg-none" onclick="a1.toggle_right(null, true) "><i class="fa fa-bars"></i></div>
    </div>
    <div class="p20">
        <div class="p22 text-dark bg-white">
            <div class="p22-iframe-container">
                @*<iframe class="p22-iframe" name="content" src=""></iframe>*@
            </div>
            <div class="p22-loading bg-dark text-white">
                <i class="fa fa-spin fa-3x fa-circle-notch"></i>
            </div>
            <div class="p22-mask" onclick="a1.mask_click()"></div>
        </div>
        <div class="p21 text-light bg-dark">
            <div class="btn btn-block btn-outline-light mt-0 text-left" data-toggle="collapse" data-target="#@rid[1]"><i class="fa fa-fw fa-users"></i> @lang["Users"]</div>
            <div id="@rid[1]" class="collapse show" data-parent=".p21">
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Users/CorpList")">@*  *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Corps"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Users/AgentList")">@* *@<i class="fa fa-fw fa-users">@*      *@ </i> @menu["Agents"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Users/AdminList")">@* *@<i class="fa fa-fw fa-user-cog">@*   *@ </i> @menu["Admins"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Users/MemberList")">@**@<i class="fa fa-fw fa-user-alt">@*   *@ </i> @menu["Members"]</a></div>
            </div>

            <div class="btn btn-block btn-outline-light mt-2 text-left" data-toggle="collapse" data-target="#@rid[2]"><i class="fa fa-fw fa-dice"></i> @lang["Games"]</div>
            <div id="@rid[2]" class="collapse" data-parent=".p21">
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Games/Platforms")">@*  *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Game Platforms"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Games/GameClasses")">@**@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Game Classes"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Games/GameTypes")">@*  *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Game Types"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Games/Games")">@*      *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Games"]</a></div>
            </div>

            <div class="btn btn-block btn-outline-light mt-2 text-left" data-toggle="collapse" data-target="#@rid[3]"><i class="fa fa-fw fa-dollar-sign"></i> @lang["Payments"]</div>
            <div id="@rid[3]" class="collapse" data-parent=".p21">
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Payments/Platforms")">@*   *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Payment Platforms"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Payments/Accounts")">@*  *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Payment Accounts"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Payments/Deposits")">@*   *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Deposits"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Payments/Withdrawals")">@**@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Withdrawals"]</a></div>
            </div>

            <div class="btn btn-block btn-outline-light mt-2 text-left" data-toggle="collapse" data-target="#@rid[4]"><i class="fa fa-fw fa-chart-bar"></i> @lang["Reports"]</div>
            <div id="@rid[4]" class="collapse" data-parent=".p21">
            </div>

            <div class="btn btn-block btn-outline-light mt-2 text-left" data-toggle="collapse" data-target="#@rid[5]"><i class="fa fa-fw fa-cogs"></i> @lang["System"]</div>
            <div id="@rid[5]" class="collapse" data-parent=".p21">
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Sys/Config")">@*   *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Config"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Sys/Languages")">@**@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Languages"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Sys/Enums")">@*    *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Enums"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Sys/ACL")">@*      *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["ACL"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Sys/Currencys")">@**@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Currencys"]</a></div>
                <div><a class="btn btn-sm btn-link" target="content" href="@Url.Page("/Sys/EventLog")">@* *@<i class="fa fa-fw fa-user-circle">@**@ </i> @menu["Event Log"]</a></div>
            </div>
        </div>
        <div class="p23 text-light bg-dark">
            <div class="p23-1">1</div>
            <div class="p23-2">
                <div class="btn btn-block btn-outline-light">@lang["Account Info"]</div>
                <div class="btn btn-block btn-outline-light">@lang["Change Passowrd"]</div>
                <div class="btn btn-block btn-outline-light" onclick="a1.logout()">@lang["Logout"]</div>
                <div class="btn btn-block btn-outline-light" onclick="test1()">@lang["msg"]</div>
            </div>
        </div>
    </div>
    <div class="p30" style=""></div>
</div>
<div id="loading">loading...</div>

<script src="~/lib/webix/webix.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
@*<script src="~/lib/vue/vue.min.js"></script>*@
@*<script src="~/js/bridge.js"></script>*@
<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js"></script>
<script inline src-auto></script>
<script>

    a1.Logout_Url = '@Url.Action("Logout", "Auth")';

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/hub1")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.on("ReceiveMessage", function (time, user, message) {
        console.log(arguments);
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    function test1() {
        connection.invoke("SendMessage", "111", "222");
    }

</script>
