@{ ViewBag.Title = "Index"; }
@section head {
    @css.Render(css.font_awesome)
    <link href="~/bower_components/devicons/css/devicons.css" rel="stylesheet" />
    <link href="~/css/supr/html/css/icons.css" rel="stylesheet" />
    @js.Render(js.jquery)
    @*@js.Render(js.jquery_ui)*@
    @*@js.Render(js.angular)*@
<script src="~/scripts/angular.js"></script>
<script src="~/scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    @*@css.Render(css.bootstrap)*@
    <link href="~/Content/bootswatch/cerulean/bootstrap.css" rel="stylesheet" />
    @js.Render(js.bootstrap)
    @js.Render(js.modernizr)
    @css.Render(css.jqwidget)
    @js.Render(js.jqwidgets)
    @js.Render(js.json2)
    <link href="~/css/_site.css" rel="stylesheet" />
    <script src="~/js/_site.js"></script>
    @BundleConfig.RenderBundle(this)

    <script type="text/javascript">
        var app = angular.module('app', ['ngAnimate', 'ui.bootstrap']);
        app.config(function ($animateProvider) {
            $animateProvider.classNameFilter(/^(?:(?!ng-animate-disabled).)*$/); // disable animation
        });
        app.controller('main', function ($scope) {
            function get_dimensions() {
                return {
                    nav_height: $('#navbar').outerHeight(),
                    width: $('#main').innerWidth(),
                    height: $('#main').innerHeight()
                }
            };
            $scope.dimensions = get_dimensions();
            $scope.sidebar = { dock: true, show: true, show_xs: false };
            $(window).resize(function () {
                $scope.dimensions = get_dimensions();
                $scope.sidebar = { dock: true, show: true, show_xs: false };
                $scope.$apply();
            });
            $scope.class = function () {
                return [
                    $scope.sidebar.dock ? 'sidebar-dock' : 'sidebar-undock',
                    $scope.sidebar.show ? 'sidebar-show' : 'sidebar-hide',
                    $scope.sidebar.show_xs ? 'sidebar-show-xs' : ''
                ];
            };

            var h_timeout = 0;
            $scope.sidebar_dock = function () {
                clearTimeout(h_timeout);
                $scope.sidebar.dock = !$scope.sidebar.dock;
            };
            $scope.sidebar_toggle = function (visible) {
                clearTimeout(h_timeout);
                $scope.sidebar.show = !$scope.sidebar.show;
            };
            $scope.sidebar_enter = function () {
                clearTimeout(h_timeout);
                h_timeout = setTimeout(function () {
                    $scope.sidebar.show = true;
                    $scope.$apply();
                }, 1000);
            }
            $scope.sidebar_leave = function () {
                clearTimeout(h_timeout);
                if ($scope.sidebar.dock) return;
                h_timeout = setTimeout(function () {
                    $scope.sidebar.show = false;
                    $scope.$apply();
                }, 1000);
            }
        });
        app.directive('fa', function () {
            return {
                scope: false, transclude: false, replace: true,
                //templateUrl: 'fa-icon.html',
                template: '<i class="fa fa-fw"></i>'
            };
        });

        $(document).ready(function () {
            $('#navbar .dropdown')
                .on('show.bs.dropdown', function () { $('#content-mask').removeClass('hidden'); })
                .on('hidden.bs.dropdown', function () { $('#content-mask').addClass('hidden'); });
            $(window).trigger('resize');
        });
    </script>
}

<div id="main" ng-app="app" ng-controller="main" ng-class="class()" class="fill">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-nav"><fa class="fa-bars"></fa></button>
                <button type="button" class="navbar-toggle" ng-click="sidebar.show_xs = !sidebar.show_xs">
                    <i class="icon14 minia-icon-layout"></i>
                </button>
                <div class="navbar-brand"><img src="~/img/logo.png" alt="logo"></div>
            </div>
            <div id="navbar-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-bell-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">1.</a>
                            </li>
                            <li><a href="#">2.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @*<iframe id="msg_frame" src="~/Default/Message"></iframe>*@
                            <span class="fa fa-envelope-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">1.</a>
                            </li>
                            <li><a href="#">2.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-cog"></span>
                            @lang["Options"]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-user"></span>
                            @CurrentUser.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="sidebar-wrapper" style="padding-top: {{dimensions.nav_height}}px;" ng-mouseenter="sidebar_enter()" ng-mouseleave="sidebar_leave()">
        <div id="sidebar" class="bg-primary text-primary">
            <div id="toolbar1">
                <div class="btn btn-xs pull-right" ng-click="sidebar_toggle()">
                    <fa class="fa-caret-square-o-left"></fa>
                </div>
                <div ng-model="sidebar.dock" uib-btn-checkbox class="btn btn-xs pull-right ng-animate-disabled">
                    <fa class="fa-toggle-on"  ng-show="sidebar.dock"></fa>
                    <fa class="fa-toggle-off" ng-hide="sidebar.dock"></fa>
                </div>
            </div>
            <div id="toolbar2">
                <div class="btn btn-xs pull-right" ng-click="sidebar_toggle()">
                    <fa class="fa-caret-square-o-right"></fa>
                </div>
            </div>
            <script type="text/javascript">
                    app.controller('_menu', function ($scope) {
                    });
                    app.directive('mDiv', function () {
                        return {
                            controller: '_menu', transclude: true, replace: true, scope: true,
                            templateUrl: 'm-div.html',
                            link: function postLink(scope, iElement, iAttrs, controller) {
                                scope.container = true;
                            }
                        }
                    });
                    app.directive('mUl', function () {
                        return {
                            controller: '_menu', transclude: true, replace: true, scope: false,
                            templateUrl: 'm-ul.html',
                            link: function postLink(scope, iElement, iAttrs, controller) {
                                scope.hasChild = true;
                                scope.collapse = false;
                                scope.$watch('collapse', function (newValue, oldValue) {
                                    $(iElement).collapse(scope.$parent.container | newValue ? 'show' : 'hide');
                                });
                            }
                        }
                    });
                    app.directive('mLi', function () {
                        return {
                            controller: '_menu', transclude: true, replace: true, scope: false,
                            templateUrl: 'm-li.html',
                            link: function postLink(scope, iElement, iAttrs, controller) {
                                scope.hasChild = false;
                                scope.collapse = false;
                            }
                        }
                    });
                    app.directive('mTxt', function () {
                        return {
                            require: '^mLi', transclude: true, replace: true, scope: false,
                            templateUrl: 'm-txt.html',
                            link: function postLink(scope, iElement, iAttrs, controller) {
                            }
                        }
                    });
            </script>
            <script type="text/ng-template" id="m-div.html">
                <div class="bg-primary text-primary" ng-transclude></div>
            </script>
            <script type="text/ng-template" id="m-ul.html">
                <ul class="collapse" ng-transclude></ul>
            </script>
            <script type="text/ng-template" id="m-li.html">
                <li ng-transclude></li>
            </script>
            <script type="text/ng-template" id="m-txt.html">
                <div ng-click="collapse=!collapse">
                    <span ng-transclude></span>
                    <i class="fa fa-pull-right fa-fw fa-chevron-left {{collapse?'fa-rotate-270':''}}" ng-if="hasChild===true"></i>
                </div>
            </script>

            <m-div id="menu">
                <m-ul>
                    <m-li>
                        <m-txt><fa class="fa-users"></fa>@lang["Accounts"]</m-txt>
                        <m-ul>
                            <m-li>
                                <m-txt><fa class="fa-user"></fa>@lang["Member List"]</m-txt>
                                <m-ul>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Member List"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Login History"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Groups"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent List"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Login History"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Groups"]</m-txt></m-li>
                                </m-ul>
                            </m-li>
                            <m-li>
                                <m-txt><fa class="fa-user"></fa>@lang["Member Login History"]</m-txt>
                                <m-ul>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Member List"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Login History"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Groups"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent List"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Login History"]</m-txt></m-li>
                                    <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Groups"]</m-txt></m-li>
                                </m-ul>
                            </m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Groups"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent List"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Login History"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Groups"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                    <m-li>
                        <m-txt><fa class="fa-users"></fa>@lang["Deposit/Withdrawal"]</m-txt>
                        <m-ul>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Deposit"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Withdrawal"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Deposit"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Withdrawal"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Third Party Payment"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Payment Channels"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                    <m-li>
                        <m-txt><fa class="fa-users"></fa>@lang["Game Deposit/Withdrawal"]</m-txt>
                        <m-ul>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Game Deposit"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Member Game Withdrawal"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Game Deposit"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Agent Game Withdrawal"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                    <m-li>
                        <m-txt><fa class="fa-users"></fa>@lang["Promotion"]</m-txt>
                        <m-ul>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Promotion 1"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Promotion 2"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Promotion 3"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Promotion 4"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Promotion 5"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                    <m-li>
                        <m-txt><fa class="fa-users"></fa>@lang["Reports"]</m-txt>
                        <m-ul>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Reports 1"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Reports 2"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Reports 3"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Reports 4"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Reports 5"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                    <m-li>
                        <m-txt><fa class="fa-users"></fa>@lang["Events"]</m-txt>
                        <m-ul>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Events 1"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Events 2"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Events 3"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Events 4"]</m-txt></m-li>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Events 5"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                    <m-li>
                        <m-txt><fa class="fa-cogs"></fa>@lang["Management"]</m-txt>
                        <m-ul>
                            <m-li><m-txt><fa class="fa-user"></fa>@lang["Events 5"]</m-txt></m-li>
                        </m-ul>
                    </m-li>
                </m-ul>
            </m-div>
        </div>
    </div>
    <div id="content-wrapper" style="padding-top: {{dimensions.nav_height}}px;">
        <iframe id="content" src="~/Default/Home"></iframe>
        <div id="content-mask" class="hidden"></div>
    </div>
</div>
