@{ ViewBag.Title = "Index"; }
@section head {
    @css.Render(css.font_awesome)
    <link href="~/bower_components/devicons/css/devicons.css" rel="stylesheet" />
    <link href="~/css/supr/html/css/icons.css" rel="stylesheet" />
    @js.Render(js.jquery)
    @js.Render(js.jquery_ui)
    @js.Render(js.angular)
    @css.Render(css.bootstrap)
    @js.Render(js.bootstrap)
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    @js.Render(js.modernizr)
    @css.Render(css.jqwidget)
    @js.Render(js.jqwidgets)
    @js.Render(js.json2)
    <link href="~/css/_site.css" rel="stylesheet" />
    <script src="~/js/_site.js"></script>
    @BundleConfig.RenderBundle(this)

    <script type="text/javascript">
        var app = angular.module('app', ['ngAnimate', 'ui.bootstrap']);
        app.config(function ($animateProvider) {
            $animateProvider.classNameFilter(/^(?:(?!ng-animate-disabled).)*$/); // disable animation
        });
        app.controller('main', function ($scope) {
            $scope.show_panel = true;
            $scope.auto_hide = false;
            $scope.toggled = false;

            $scope.class = function () {
                return [
                    $scope.show_panel ? '' : 'hide-panel',
                    $scope.auto_hide ? 'auto-hide-panel' : '',
                    $scope.toggled ? 'sidebar-toggled' : ''
                ];
            };

            $scope.navbar_height = $('#navbar').outerHeight();

            $(window).resize(function () {
                $scope.show_panel = true;
                $scope.auto_hide = false;
                $scope.toggled = false;
                $scope.navbar_height = $('#navbar').outerHeight();
                $scope.$applyAsync();
            });

            var h1 = 0;
            $scope.switch_auto_hide = function () {
                $scope.auto_hide = !$scope.auto_hide;
            };
            $scope.hide_panel = function () {
                clearTimeout(h1); $scope.show_panel = !$scope.show_panel;
            };
            $scope.mouseenter = function () {
                clearTimeout(h1);
                h1 = setTimeout(function () { $scope.show_panel = true; $scope.$applyAsync(); }, 1000);
            };
            $scope.mouseleave = function () {
                clearTimeout(h1);
                if ($scope.auto_hide) {
                    h1 = setTimeout(function () { $scope.show_panel = false; $scope.$applyAsync(); }, 1000);
                }
            };
        });
        app.controller('menu', function ($scope) {
            $scope.expand = false;
            $scope.toggle = function () { $scope.expand = !$scope.expand; }
            $scope.visible = function () { return $scope.expand ? 'menu-show' : 'menu-hide'; }
        });
        app.controller('sidebar', function ($scope) {
            $scope.oneAtATime = false;

            $scope.groups = [
              {
                  title: 'Dynamic Group Header - 1',
                  content: 'Dynamic Group Body - 1'
              },
              {
                  title: 'Dynamic Group Header - 2',
                  content: 'Dynamic Group Body - 2'
              }
            ];

            $scope.items = ['Item 1', 'Item 2', 'Item 3'];

            $scope.addItem = function () {
                var newItemNo = $scope.items.length + 1;
                $scope.items.push('Item ' + newItemNo);
            };

            $scope.status = {
                isFirstOpen: true,
                isFirstDisabled: false
            };
        });


        $(document).ready(function () {
            $('#navbar .dropdown')
                .on('show.bs.dropdown', function () { $('#content-mask').removeClass('hidden'); })
                .on('hidden.bs.dropdown', function () { $('#content-mask').addClass('hidden'); });
            $(window).trigger('resize');
        });
    </script>
    <style type="text/css">
        /*.ng-hide-add         { animation:0.5s lightSpeedOut ease; }*/
        /*.ng-hide-remove      { animation:0.5s flipInX ease; }*/
    </style>
    <script type="text/ng-template" id="/sidebar-menu.html">
        <div>menu2</div>
    </script>
}

@helper fa(string name)
{ <i class="fa fa-fw fa-@name"></i> }

<div ng-app="app" ng-controller="main" ng-class="class()" class="fill">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-nav">@fa("bars")</button>
                <button type="button" class="navbar-toggle" ng-click="toggled=!toggled">
                    <i class="icon14 minia-icon-layout"></i>
                </button>
                <div class="navbar-brand"><img src="~/img/logo.png" alt="logo"></div>
            </div>
            <div id="navbar-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-bell-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">1.</a>
                            </li>
                            <li><a href="#">2.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @*<iframe id="msg_frame" src="~/Default/Message"></iframe>*@
                            <span class="fa fa-envelope-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">1.</a>
                            </li>
                            <li><a href="#">2.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-cog"></span>
                            @lang["Options"]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-user"></span>
                            @CurrentUser.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="sidebar-wrapper" ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave()" style="padding-top: {{navbar_height}}px;">
        <div id="sidebar" ng-controller="sidebar" class="bg-primary text-primary">
            <div id="toolbar" class="bg-primary text-primary hidden-xs">
                <div class="btn btn-xs pull-right" ng-click="hide_panel()" title="@lang["Hide Sidebar"]">
                    <i class="fa fa-caret-square-o-right ng-animate-disabled" ng-hide="show_panel"></i>
                    <i class="fa fa-caret-square-o-left  ng-animate-disabled" ng-show="show_panel"></i>
                </div>
                <div class="btn btn-xs pull-right" ng-show="show_panel" ng-click="switch_auto_hide()" title="@lang["Toggle Auto Hide"]">
                    <i class="fa fa-toggle-on  ng-animate-disabled" ng-hide="auto_hide"></i>
                    <i class="fa fa-toggle-off ng-animate-disabled" ng-show="auto_hide"></i>
                </div>
            </div>

            @*<p>
                <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
            </p>*@
            @*<div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="oneAtATime">
                    Open only one at a time
                </label>
            </div>*@
            <script type="text/ng-template" id="template/accordion/accordion.html">
                <div class="panel-group" ng-transclude></div>
            </script>
            <script type="text/ng-template" id="template/accordion/accordion-group.html">
                <div class="panel {{panelClass || 'panel-primary'}}">
                    <div class="panel-heading" ng-keypress="toggleOpen($event)">
                        <h4 class="panel-title">
                            <a tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" uib-collapse="!isOpen">
                        <div class="panel-body text-primary" ng-transclude></div>
                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="group-template.html">
                <div class="panel {{panelClass || 'panel-default'}}">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color:#fa39c3">
                            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" uib-collapse="!isOpen">
                        <div class="panel-body" style="text-align: right" ng-transclude></div>
                    </div>
                </div>
            </script>

            @*<div id="menu" uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    This content is straight in the template.
                </uib-accordion-group>
                <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    {{group.content}}
                </uib-accordion-group>
                <uib-accordion-group heading="Dynamic Body Content">
                    <p>The body of the uib-accordion group grows to fit the contents</p>
                    <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                    <div ng-repeat="item in items">{{item}}</div>
                </uib-accordion-group>
                <uib-accordion-group heading="Custom template" template-url="group-template.html">
                    Hello
                </uib-accordion-group>
                <uib-accordion-group heading="Delete account" panel-class="panel-danger">
                    <p>Please, to delete your account, click the button below</p>
                    <button class="btn btn-danger">Delete</button>
                </uib-accordion-group>
                <uib-accordion-group is-open="status.open">
                    <uib-accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </uib-accordion-group>
            </div>*@

            <div id="menu" ng-show="show_panel">
                <div class="btn" ng-click="isCollapsed = !isCollapsed">Toggle collapse</div>
                <div uib-collapse="isCollapsed">
                    <div class="well well-lg">Some content</div>
                </div>

                <div ng-controller="menu">
                    <div ng-click="toggle()">xxx1 {{expand}} {{$id}}</div>
                    <div ng-class="visible()" class="easing">
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                        xxx2<br />
                    </div>
                </div>
                <div ng-controller="menu">
                    xxx1 {{expand}} {{$id}}
                    <div ng-animate="" ng-hide="!expand">xxx2</div>
                </div>

                <div data-toggle="collapse" data-target="#demo">xxx3</div>
                <div id="demo" class="collapse">xxx4</div>
                <div> @for (int i = 0; i < 100; i++)
                { <text>@i</text> } </div>
                @for (int i = 1; i < 100; i++)
                { <div>@i</div> }
            </div>
        </div>
    </div>
    <div id="content-wrapper" style="padding-top: {{navbar_height}}px;">
        <iframe id="content" src="~/Default/Home"></iframe>
        <div id="content-mask" class="hidden"></div>
    </div>
</div>
