@page
@inject Microsoft.AspNetCore.Mvc.Infrastructure.IActionContextAccessor actionContextAccessor
@inject Microsoft.AspNetCore.Mvc.Infrastructure.IActionDescriptorCollectionProvider actions
@*@inject Microsoft.AspNetCore.Mvc.ApiExplorer.IApiDescriptionGroupCollectionProvider apiExplorer*@
@model ams.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}
@section head {
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    @*<script src="~/lib/angular/angular.js"></script>*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    @*<script src="https://bundle.run/webassembly-interpreter"></script>*@
    @*<script src="~/js/bridge.js"></script>*@
    @*<script src="~/js/bridge.meta.js"></script>*@
    @*<script src="~/js/newtonsoft.json.js"></script>*@
    <script src="~/js/bundle.js" asp-append-version="true"></script>
    <script src="~/js/ams.js" asp-append-version="true"></script>
}
<div ng-app="app" ng-controller="main">
    <script type="text/javascript">
        // @Url.Action("WebSocketTest", "ApiTest")
        util.ng_init('app')
        //angular.module('app', [])
            //.service('$api', function ($http) {
            //    console.log();
            //})
            .controller('main', function ($scope, $http, $ams) {
                $scope.test1 = function () {
                    //$ams.api
                    util.api
                        ('@Url.Action("Test1", "ApiTest")', { a: 1, b: 2 }, {
                        ApiSuccess: function (data) {
                            console.log(data);
                        },
                        ApiFailed: function (status, result) {
                            console.log(result);
                        },
                        ApiComplete: function (status, result) {
                            console.log(result);
                        }
                    });
                    //$http.post('@Url.Action("Test1", "ApiTest")', { a: 1, b: 2 })
                    //    .then(function (response) {
                    //        console.log('success', response);
                    //        //console.log('successCallback', arguments);
                    //        //_ExecuteCommand(response.data);
                    //        //on_response.apply(this, arguments);
                    //    }, function (response) {
                    //        console.log('error', response);
                    //        //opts.success = opt.error;
                    //        //console.log('errorCallback', arguments);
                    //        //on_response.apply(this, arguments);
                    //    });
                }
                $scope.test2 = function () {
                    $http.post('@Url.Action("Test2", "ApiTest")', { a: 1, b: 2, x: { a: 3, b: 4 } })
                        .then(function (response) {
                            console.log('success', response);
                        }, function (response) {
                            console.log('error', response);
                        });
                }
                $scope.test_SignIn = function () {
                    $http.post('@Url.Action("Test_SignIn", "ApiTest")', { a: 1, b: 2, x: { a: 3, b: 4 } })
                        .then(function (response) {
                            console.log('success', response);
                        }, function (response) {
                            console.log('error', response);
                        });
                }
                $scope.test_SignOut = function () {
                    $http.post('@Url.Action("Test_SignOut", "ApiTest")', { a: 1, b: 2, x: { a: 3, b: 4 } })
                        .then(function (response) {
                            console.log('success', response);
                        }, function (response) {
                            console.log('error', response);
                        });
                }
            });
    </script>
    <div>
        <button class="btn btn-default" ng-click="test1()">Test</button>
        <button class="btn btn-default" ng-click="test2()">Test</button>
    </div>
    <div>
        <button class="btn btn-default" ng-click="test_SignIn()">SignIn</button>
        <button class="btn btn-default" ng-click="test_SignOut()">SignOut</button>
    </div>
</div>
