@using ams.Data;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    Layout = null;
    IG01PlatformInfo ig01 = IG01PlatformInfo.PokerInstance;
    GeniusBull.Game game1 = ig01.GetGame(1091), game2 = ig01.GetGame(1092), game3 = ig01.GetGame(1093);
    List<GeniusBull.TexasConfig> grps1 = new List<GeniusBull.TexasConfig>();
    List<GeniusBull.DouDizhuConfig> grps2 = new List<GeniusBull.DouDizhuConfig>();
    List<GeniusBull.TwMahjongConfig> grps3 = new List<GeniusBull.TwMahjongConfig>();
    foreach (GeniusBull.TexasConfig n in game1.GetTableSettings()) { grps1.Add(n); }
    foreach (GeniusBull.DouDizhuConfig n in game2.GetTableSettings()) { grps2.Add(n); }
    foreach (GeniusBull.TwMahjongConfig n in game3.GetTableSettings()) { grps3.Add(n); }
    grps1.Sort((a, b) => b.BigBlind - a.BigBlind);
    grps2.Sort((a, b) => b.BaseValue - a.BaseValue);
    grps3.Sort((a, b) => b.Antes - a.Antes);
    JArray data1, data2, data3;
    string json1 = "[]", json2 = ig01?.rest_Doudizhu_waitingPlayers(), json3 = ig01?.rest_MJ_waitingPlayers();
    try { data1 = JsonConvert.DeserializeObject<JArray>(json1); }
    catch { data1 = new JArray(); }
    try { data2 = JsonConvert.DeserializeObject<JArray>(json2); }
    catch { data2 = new JArray(); }
    try { data3 = JsonConvert.DeserializeObject<JArray>(json3); }
    catch { data3 = new JArray(); }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>線上等候人數</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        window.setInterval(function () {
            window.location.reload();
        }, 10000);
    </script>
</head>
<body>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">麻將</div>
            <div class="panel-body">
                @*@game3.Name*@
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>底/台</th>
                        <th>等待人數</th>
                    </tr>
                    @foreach (GeniusBull.TwMahjongConfig n in grps3)
                {
                        <tr>
                            <td>@n.Antes / @n.Tai</td>
                            <td>@(data3.SelectToken("$[?(@.TableId == {Id})].waitingPlayers".formatWith(n)) ?? 0)</td>
                        </tr>
                }
                </table>
                <small style="background-color: white"><small>@json3</small></small>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">鬥地主</div>
            <div class="panel-body">
                @*@game2.Name*@
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>底</th>
                        <th>等待人數</th>
                    </tr>
                    @foreach (GeniusBull.DouDizhuConfig n in grps2)
                    {
                        <tr>
                            <td>@n.BaseValue</td>
                            <td>@(data2.SelectToken("$[?(@.TableId == {Id})].waitingPlayers".formatWith(n)) ?? 0)</td>
                        </tr>
                    }
                </table>
                <small style="background-color: white"><small>@json2</small></small>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">德州撲克</div>
            <div class="panel-body">
                @*@game1.Name*@
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>大盲/小盲</th>
                        <th>等待人數</th>
                    </tr>
                    @foreach (GeniusBull.TexasConfig n in grps1)
                    {
                        <tr>
                            <td>@n.BigBlind / @n.SmallBlind</td>
                            <td>0</td>
                        </tr>
                    }
                </table>
                <small style="background-color: white"><small>@json1</small></small>
            </div>
        </div>
    </div>
</body>
</html>
