@model GameControl.Models.URL
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.js></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

<link href="~/Content/table.css" rel="stylesheet" />




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr /><h2>來源新增</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="CSSTable">
        <table>
            <tr>
                <td style="width:10%">
                    項目
                </td>
                <td style="width:80%">
                    屬性
                </td>
            </tr>
            <tr>
                <td>
                    遊戲類型
                </td>
                <td>
                    @Html.DropDownList("GameType", (IEnumerable<SelectListItem>)ViewData["GameType"], null, new { @Location = "GameType" })
                    @Html.ValidationMessageFor(model => model.GameType, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    開獎地區
                </td>
                <td>
                    @Html.DropDownList("Location", (IEnumerable<SelectListItem>)ViewData["Location"], null, new { @Location = "Location" })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    連結
                </td>
                <td>
                    @Html.EditorFor(model => model.Url1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Url1, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    狀態
                </td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.Status, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.Status, "0")
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    排序
                </td>
                <td>
                    @Html.EditorFor(model => model.Sort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                </td>
            </tr>
                            <tr>
                    <td>
                        讀取時間
                    </td>
                    <td>
                        @Html.EditorFor(model => model.LoadTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LoadTime, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        讀取失敗次數上限
                    </td>
                    <td>
                        @Html.EditorFor(model => model.FailCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FailCount, "", new { @class = "text-danger" })
                    </td>
                </tr>
        </table>
    </div>
        <br />
        <button type="submit" class="btn btn-info btn-lg" value="新增">新增</button>
        <input class="btn btn-warning btn-lg" type="button" value="回首頁" onclick="location.href='@Url.Action("Index", "URL")'" />
</div>
}

