@model GameControl.Models.URL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />
<div class="services">
    <div class="CSSTable">
        <table>
            <tr>
                <td style="width:10%">
                    項目
                </td>
                <td style="width:80%">
                    屬性
                </td>
            </tr>
            <tr>
                <td>
                    遊戲類型
                </td>
                <td>
                    @Html.DisplayFor(model => model.GameType)
                </td>
            </tr>
            <tr>
                <td>
                    開獎地區
                </td>
                <td>
                    @Html.DisplayFor(model => model.Location)
                </td>
            </tr>
            <tr>
                <td>連結</td>
                <td>
                    @Html.DisplayFor(model => model.Url1)
                </td>
            </tr>
            <tr>
                <td>
                    狀態
                </td>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>
            </tr>
            <tr>
                <td>
                    排序
                </td>
                <td>
                    @Html.DisplayFor(model => model.Sort)
                </td>
            </tr>
            <tr>
                <td>
                    讀取時間
                </td>
                <td>
                    @Html.DisplayFor(model => model.LoadTime)
                </td>
            </tr>
            <tr>
                <td>
                    讀取失敗次數上限
                </td>
                <td>
                    @Html.DisplayFor(model => model.FailCount)
                </td>
            </tr>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-info btn-lg" />
            <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("Index", "URL")'" />
        </div>
    }
</div>