@model GameControl.ViewModels.GameEnableViewModel

@{
    ViewBag.Title = "EnableIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="update_panel">

</div>
@section Scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}


@using (Html.BeginForm())
{
    <div class="services">
        <div class="container">
            <div class="CSSTableGenerator">
                <table class="table">
                    <tr>
                        <td>遊戲名稱</td>
                        <td>狀態</td>
                        <td>最後更新時間</td>
                        <td>最後更新者</td>
                        <td style="width:6%">明細</td>
                    </tr>



                    @for (int i = 0; i < Model.GameEnables.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.GameEnables[i].Game
                                @Html.HiddenFor(model => Model.GameEnables[i].SID, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                啟用
                                @Html.RadioButtonFor(model => Model.GameEnables[i].Status, "1")
                                關閉
                                @Html.RadioButtonFor(model => Model.GameEnables[i].Status, "0")
                                @Html.ValidationMessageFor(model => Model.GameEnables[i].Status, "", new { @class = "text-danger" })
                            </td>
                            <td>@Model.GameEnables[i].UpdateTime</td>
                            <td>@Model.GameEnables[i].UpdateUser</td>
                            <td>
                                @Html.ActionLink(
                 "明細", "EnableEdit", new { GameType = Model.GameEnables[i].GameType }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
}




