@model List<GameControl.Models.URL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="services">

<h2>開獎資料網址順序設定  @Html.ActionLink(
               "新增", "Create", "", new { @class = "btn btn-success btn-lg" }
               )</h2>
    
    <div class="container">
        <div class="CSSTableGenerator">
            <table>
                <tbody>
                    <tr>
                        <td style="width:10%">遊戲類型</td>
                        <td style="width:10%">地區</td>
                        <td style="width:24%">連結</td>
                        <td style="width:5%">狀態</td>
                        <td style="width:3%">排序</td>
                        <td style="width:5%">載入時間</td>
                        <td style="width:6%">失敗次數上限</td>
                        <td style="width:18%">最後更新時間</td>
                        <td style="width:9%">更新使用人</td>
                        <td colspan="2" style="width:6%">選項</td>
                    </tr>
                    @foreach (var pd in this.Model)
                    {
                        var GT = "";
                        var LC = "";
                        var stat = "";
                        if (@pd.GameType == "01")
                        {
                            GT = "基諾彩";
                        }
                        if (@pd.Location == "01")
                        {
                            LC = "北京快樂8";
                        }
                        else if (@pd.Location == "02")
                        {
                            LC = "台灣賓果賓果";
                        }
                        else if (@pd.Location == "03")
                        {
                            LC = "加拿大";
                        }
                        else if (@pd.Location == "04")
                        {
                            LC = "加拿大西部";
                        }
                        else if (@pd.Location == "05")
                        {
                            LC = "斯洛伐克";
                        }
                        else if (@pd.Location == "06")
                        {
                            LC = "俄亥俄";
                        }

                        if (@pd.Status == 1)
                        {
                            stat = "啟用";
                        }
                        else
                        {
                            stat = "關閉";
                        }
                        <tr>
                            <td>@GT</td>
                            <td>@LC</td>
                            <td>@pd.Url1</td>
                            <td>@stat</td>
                            <td>@pd.Sort</td>
                            <td>@pd.LoadTime</td>
                            <td>@pd.FailCount</td>
                            <td>@pd.UpdateTime</td>
                            <td>@pd.UpdateUser</td>
                            <td>
                                @Html.ActionLink(
               "編輯", "Edit", new { SID = pd.SID }, new { @class = "btn btn-info" }
               )                              
                            </td>
                            <td>@*
                                @using (@Html.BeginForm("Delete", "URL", FormMethod.Post, new { @class = "Delete" }))
                                {
                                    @Html.Hidden("SID", pd.SID)
                                    <input type="submit" value="刪除" class="btn btn-danger" />
                                }*@
                                @Html.ActionLink(
               "刪除", "Delete", new { SID = pd.SID }, new { @class = "btn btn-danger" }
               )
                                
                            </td>
</tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


