@model GameControl.Models.PassAccount

@{
    ViewBag.Title = "PassAccountCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr /><h2>過賬新增</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="CSSTable">
            <table>
                <tr>
                    <td style="width:10%">
                        項目
                    </td>
                    <td style="width:80%">
                        屬性
                    </td>
                </tr>
                <tr>
                    <td>
                        遊戲類型
                    </td>
                    <td>
                        @Html.DropDownList("GameType", (SelectList)ViewBag.GameType, null, new { @Location = "GameType" })
                        @Html.ValidationMessageFor(model => model.GameType, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>
                        開獎地區
                    </td>
                    <td>
                        @Html.DropDownList("Location")
                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        狀態
                    </td>
                    <td>
                        開啟
                        @Html.RadioButtonFor(model => model.Status, "1")
                        關閉
                        @Html.RadioButtonFor(model => model.Status, "0")
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>


        <!--表格結束-->
        <br />
        <button type="submit" class="btn btn-info btn-lg" value="新增">新增</button>
        <input class="btn btn-warning btn-lg" type="button" value="回首頁" onclick="location.href='@Url.Action("PassAccountIndex", "URL")'" />
    </div>
}

