@model GameControl.Models.PCControl

@{
    ViewBag.Title = "PCDetailEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />
<div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:24pt">基諾彩</div>
    <div class="col-md-10">
        <ol class="breadcrumb">        
            <li class="active">@Html.DisplayFor(model => model.Dish)盤</li>
            <li><a href="#">盤口投注限額</a></li>
        </ol>
    </div>
</div>
<div class="navbar" style="margin-bottom:20px; margin-top:40px">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("盤口啟用設定", "PCEnableEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口名稱細項設定", "PCNameEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("賠率盤口水位/退水設定", "PCWaterEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口投注限額", "PCDetailEdit", "URL", new { Model.SID }, null)</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="CSSTable">
        <tbody>
            <tr>
                <td>上中下盤</td>
                <td>單注最低</td>
                <td>單注最高</td>
                <td>單項最高</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallSmall.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSmall.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallSmall.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSmall.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallSmall.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSmall.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallMid.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>
                    @Html.EditorFor(model => model.BallMid.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMid.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallMid.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMid.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallMid.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMid.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallBig.Name, "", new { @class = "text-danger" })</td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallBig.BetMin, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallBig.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallBig.BetMax, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallBig.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallBig.SingelMax, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallBig.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td>單盤最大</td>
                <td  colspan="3">
                    @Html.ValidationMessageFor(model => model.SumSmall.DishMax, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.SumSmall.DishMax, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">奇和偶盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最低</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最高</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單項最高</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallOdd.Name, "", new { @class = "text-danger" })</td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallOdd.BetMin, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallOdd.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallOdd.BetMax, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallOdd.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallOdd.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallOdd.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallSam.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>
                    @Html.EditorFor(model => model.BallSam.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSam.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallSam.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSam.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallSam.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSam.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallEven.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallEven.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallEven.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallEven.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallEven.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallEven.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>單盤最大</td>
                <td  colspan="3">
                    @Html.ValidationMessageFor(model => model.BallOdd.DishMax)
                    @Html.EditorFor(model => model.BallOdd.DishMax, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">大小盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最低</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最高</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單項最高</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBig.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBig.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBig.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>單盤最大</td>
                <td  colspan="3">
                    @Html.EditorFor(model => model.SumBig.DishMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.DishMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單雙盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最低</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最高</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單項最高</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumEven.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumEven.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumEven.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>單盤最大</td>
                <td  colspan="3">
                    @Html.EditorFor(model => model.SumOdd.DishMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.DishMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">大小單雙串關</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最低</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最高</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單項最高</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBigOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBigOdd.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBigOdd.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBigOdd.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmallOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmallOdd.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallOdd.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmallOdd.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallOdd.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmallOdd.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallOdd.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBigEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBigEven.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigEven.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBigEven.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigEven.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBigEven.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigEven.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmallEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmallEven.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallEven.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmallEven.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallEven.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmallEven.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallEven.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>單盤最大</td>
                <td  colspan="3">
                    @Html.EditorFor(model => model.SumBigOdd.DishMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.DishMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">五行</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最低</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單注最高</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單項最高</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_1.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_1.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_1.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_1.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_2.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_2.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_2.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_2.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_2.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_2.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_2.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_3.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_3.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_3.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_3.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_3.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_3.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_3.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_4.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_4.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_4.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_4.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_4.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_4.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_4.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_5.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_5.BetMin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_5.BetMin, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_5.BetMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_5.BetMax, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_5.SingelMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_5.SingelMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>單盤最大</td>
                <td colspan="3">
                    @Html.EditorFor(model => model.Range_1.DishMax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.DishMax, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    遊戲最大收款</td>
                <td colspan="3">
                    @Html.EditorFor(model => model.BallMaxMonney, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMaxMonney, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
        <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("PCIndex", "URL")'" />

}

