@model GameControl.Models.PCControl

@{
    ViewBag.Title = "PCEnableEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />

<div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:24pt">基諾彩</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li class="active">@Html.DisplayFor(model => model.Dish)盤</li>
            <li><a href="#">盤口啟用設定</a></li>
        </ol>
    </div>
</div>
<div class="navbar" style="margin-bottom:20px; margin-top:40px">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("盤口啟用設定", "PCEnableEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口名稱細項設定", "PCNameEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口水位/退水設定", "PCWaterEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口投注限額", "PCDetailEdit", "URL", new { Model.SID }, null)</li>
    </ul>
</div>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <table class="CSSTable">
        <tbody>
            <tr>
                <td>名稱</td>
                <td>開關</td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.BallBig.Name)@Html.DisplayFor(model => model.BallMid.Name)@Html.DisplayFor(model => model.BallSmall.Name)
                </td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.BallSmall.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.BallSmall.Enable, "0")
                    @Html.ValidationMessageFor(model => model.BallSmall.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallOdd.Name)@Html.DisplayFor(model => model.BallSam.Name)@Html.DisplayFor(model => model.BallEven.Name)</td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.BallOdd.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.BallOdd.Enable, "0")
                    @Html.ValidationMessageFor(model => model.BallOdd.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBig.Name)@Html.DisplayFor(model => model.SumSmall.Name)</td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.SumBig.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.SumBig.Enable, "0")
                    @Html.ValidationMessageFor(model => model.SumBig.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>@Html.DisplayFor(model => model.SumOdd.Name)@Html.DisplayFor(model => model.SumEven.Name)</td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.SumOdd.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.SumOdd.Enable, "0")
                    @Html.ValidationMessageFor(model => model.SumOdd.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.SumBigOdd.Name)
                    @Html.DisplayFor(model => model.SumSmallOdd.Name)
                    @Html.DisplayFor(model => model.SumBigEven.Name)
                    @Html.DisplayFor(model => model.SumSmallEven.Name)
                </td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.SumBigOdd.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.SumBigOdd.Enable, "0")
                    @Html.ValidationMessageFor(model => model.SumBigOdd.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Range_1.Name)
                    @Html.DisplayFor(model => model.Range_2.Name)
                    @Html.DisplayFor(model => model.Range_3.Name)
                    @Html.DisplayFor(model => model.Range_4.Name)
                    @Html.DisplayFor(model => model.Range_5.Name)
                </td>
                <td>
                    開啟
                    @Html.RadioButtonFor(model => model.Range_1.Enable, "1")
                    關閉
                    @Html.RadioButtonFor(model => model.Range_1.Enable, "0")
                    @Html.ValidationMessageFor(model => model.Range_1.Enable, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>
        <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
        <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("PCIndex", "URL")'" />
}

