@model GameControl.Models.PCControl

@{
    ViewBag.Title = "PCNameEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />
<div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:24pt">基諾彩</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li class="active">@Html.DisplayFor(model => model.Dish)盤</li>
            <li><a href="#">盤口名稱細項設定</a></li>
        </ol>
    </div>
</div>
<div class="navbar" style="margin-bottom:20px; margin-top:40px">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("盤口啟用設定", "PCEnableEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口名稱細項設定", "PCNameEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("水位/退水設定", "PCWaterEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口投注限額", "PCDetailEdit", "URL", new { Model.SID }, null)</li>
    </ul>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="CSSTable">
        <tbody>
            <tr>
                <td>盤口名稱</td>
                <td>
                    @Html.EditorFor(model => model.Dish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dish, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                @Html.DisplayFor(model => model.BallSmall.Name)
                @Html.DisplayFor(model => model.BallMid.Name)
                @Html.DisplayFor(model => model.BallBig.Name)盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallSmall.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSmall.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallMid.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallMid.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMid.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallBig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallBig.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallBig.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    @Html.DisplayFor(model => model.BallOdd.Name)
                    @Html.DisplayFor(model => model.BallSam.Name)
                    @Html.DisplayFor(model => model.BallEven.Name)
                    盤
                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallOdd.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallOdd.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallSam.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallSam.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSam.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallEven.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallEven.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    @Html.DisplayFor(model => model.SumBig.Name)
                    @Html.DisplayFor(model => model.SumSmall.Name)
                    盤
                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBig.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">
                    @Html.DisplayFor(model => model.SumOdd.Name)
                    @Html.DisplayFor(model => model.SumEven.Name)
                    盤
                </td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumEven.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr><td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">大小單雙串關</td><td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td></tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBigOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBigOdd.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmallOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmallOdd.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallOdd.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBigEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBigEven.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigEven.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmallEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmallEven.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallEven.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr><td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">五行</td><td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">名稱</td></tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_1.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_1.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_2.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_2.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_2.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_3.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_3.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_3.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_4.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_4.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_4.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_5.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_5.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_5.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>
        <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
        <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("PCIndex", "URL")'" />
}

