@model GameControl.Models.PCControl

@{
    ViewBag.Title = "PCWaterEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/table.css" rel="stylesheet" />
<div class="row" style="margin-top:20px;">
    <div class="col-md-2" style="font-size:24pt">基諾彩</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li class="active">@Html.DisplayFor(model => model.Dish)盤</li>
            <li><a href="#">水位</a></li>
            <li><a href="#">退水</a></li>
        </ol>
    </div>
</div>
<div class="navbar" style="margin-bottom:20px; margin-top:40px">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("盤口啟用設定", "PCEnableEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口名稱細項設定", "PCNameEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口水位/退水設定", "PCWaterEdit", "URL", new { SID = Model.SID }, null)</li>
        <li>@Html.ActionLink("盤口投注限額", "PCDetailEdit", "URL", new { Model.SID }, null)</li>
    </ul>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="CSSTable">
        <tbody>
            <tr>
                <td>上中下盤</td>

                <td>水位</td>
                <td>返水</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallSmall.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSmall.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallSmall.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSmall.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallMid.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>
                    @Html.EditorFor(model => model.BallMid.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMid.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallMid.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallMid.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallBig.Name, "", new { @class = "text-danger" })</td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallBig.Water, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallBig.Water, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallBig.WaterBack, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallBig.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">奇和偶盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">水位</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">返水</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallOdd.Name, "", new { @class = "text-danger" })</td>
                <td>
                    @Html.ValidationMessageFor(model => model.BallOdd.Water, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.BallOdd.Water, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallOdd.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallOdd.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallSam.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>
                    @Html.EditorFor(model => model.BallSam.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSam.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallSam.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallSam.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.BallEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.BallEven.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallEven.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.BallEven.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BallEven.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">大小盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">水位</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">返水</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBig.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBig.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBig.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBig.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmall.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmall.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmall.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">單雙盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">水位</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">返水</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumOdd.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumOdd.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumEven.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumEven.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumEven.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">大小單雙串關</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">水位</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">返水</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBigOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBigOdd.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBigOdd.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigOdd.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmallOdd.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmallOdd.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallOdd.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmallOdd.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallOdd.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumBigEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumBigEven.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigEven.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumBigEven.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumBigEven.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SumSmallEven.Name)</td>
                <td>
                    @Html.EditorFor(model => model.SumSmallEven.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallEven.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.SumSmallEven.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SumSmallEven.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">五行盤</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">水位</td>
                <td style="background-color:#39abb5;color:#FFF;font-weight:bold;text-align:center;">返水</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_1.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_1.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_1.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_1.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_2.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_2.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_2.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_2.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_2.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_3.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_3.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_3.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_3.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_3.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_4.Name)</td>
                <td>
                    @Html.EditorFor(model => model.Range_4.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_4.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_4.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_4.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Range_5.Name)</td>

                <td>
                    @Html.EditorFor(model => model.Range_5.Water, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_5.Water, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Range_5.WaterBack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range_5.WaterBack, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-info btn-lg" value="儲存">儲存</button>
        <input class="btn btn-warning btn-lg" type="button" value="回前頁" onclick="location.href='@Url.Action("PCIndex", "URL")'" />

}

