@model GeniusBull.PlayGameViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TransHelper.Ui(String.Format("GameName_{0}", Model.GameName))</title>
    <link href="~/assets/css/normalize.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/assets/css/site-game.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vue.min.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/swfobject/swfobject.min.js"></script>
    <script src="~/assets/js/site-game.js"></script>
</head>
<body>
    <div class="game-wrapper"><div id="game"></div></div>
    <script type="text/javascript">
        function startGame(tableId) {
            if (!isFlashPlayerInstalled()) {
                window.location = 'https://get.adobe.com/tw/flashplayer';
                return;
            }

            var swfUrl = '@String.Format("{0}/games/{1}/Main.swf?v={2}", ConfigHelper.AssetServerUrl, Model.GameName, Model.GameToken)';
            var flashvars = {
                gameUrl: '@String.Format("{0}/games/{1}", ConfigHelper.AssetServerUrl, Model.GameName)',
                gameName: '@Model.GameName',
                gameCulture: '@Model.Culture',
                gameFileToken: '@Model.GameToken',
                serverUrl: '@Model.ServerUrl',
                serverPort: '@Model.ServerPort',
                accessToken: '@Model.AccessToken',
                rtmpUrl: '@ConfigHelper.RtmpServerUrl',
                recognitionUrl: '@ConfigHelper.RecognitionApiUrl',
                tableId: tableId
            };

            embedSwf(swfUrl, flashvars, 'game', '100%', '100%');
        }

        function returnToLobby() {
            removeSWF('game');
            window.close();
        }
        startGame(@Model.TableId);
    </script>
</body>
</html>
