@model GeniusBull.PlayGameViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TransHelper.Ui(String.Format("GameName_{0}", Model.GameName))</title>
    <link href="~/assets/css/normalize.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/assets/css/site-game.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/Assets/angular/angular.min.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/swfobject/swfobject.min.js"></script>
    <script src="~/assets/js/site-game.js"></script>
</head>
<body ng-controller="main">
    <div class="game-wrapper">
        <div id="game"></div>
    </div>
    <div class="lobby" id="lobby">
        <div class="logo"></div>
        <div class="table scrollbar-external_wrapper">
            <div class="thead">
                <ul class="clearfix">
                    <li style="width:18%">@TransHelper.Ui("TableName")</li>
                    <li style="width:20%;cursor:pointer" v-on:click="order = order * -1">@TransHelper.Ui("SmallBigBlind")</li>
                    <li style="width:16%">@TransHelper.Ui("NumOfPlayer")</li>
                    <li style="width:26%">@TransHelper.Ui("MaxMinBuyIn")</li>
                    <li style="width:20%">&nbsp;</li>
                </ul>
            </div>
            <div class="tbody scrollbar-external" style="display: none;">
                <ul class="clearfix" ng-repeat="table in tables | orderBy : 'BigBlind' : order_desc">
                    <li style="width:18%">{{ table.TableNameEx_@CultureHelper.GetCurrentLanguages() }}</li>
                    <li style="width:20%">{{ table.SmallBlind | money }} / {{ table.BigBlind | money }}</li>
                    <li style="width:16%">
                        <div class="bar" v-bind:class="'bar-' + playerAmount">
                            <div class="bar-line" ng-class="'bar-line-' + table.PlayerAmount"></div>
                            <div class="player-amount">{{ table.PlayerAmount }} / 7</div>
                        </div>
                    </li>
                    <li style="width:26%">{{ table.BigBlind * 10 | money }} / {{ table.BigBlind * 200 | money }}</li>
                    <li style="width:20%"><a class="btn-play" ng-click="startGame(table.TableId)">@TransHelper.Ui("PlayGame")</a></li>
                </ul>
            </div>
            <div class="external-scroll_y">
                <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar"></div>
                </div>
            </div>
        </div>
        <div class="table" style="margin-top: 20px; padding-left: 10px; height: auto; text-align: left; color: #ffff00; font-size: 16px; opacity: 0.8">*平台服務點數5% 封頂200,000點數*</div>
    </div>
    <link href="~/assets/scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/texasholdem.css" rel="stylesheet" />
    <script src="~/assets/scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/js/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        alertify.defaults.glossary.title = '@TransHelper.Ui("SystemNotification")';
        alertify.defaults.glossary.ok = '@TransHelper.Ui("Ok")';
        alertify.defaults.glossary.cancel = '@TransHelper.Ui("Cancel")';

        var app = angular.module('app', []
            ).filter('money', function () {
                return formatMoney;
            }).controller('main', function ($scope, $http) {
                $scope.tables = [];
                window.$scope = $scope;
                $scope.order_desc = false;

                var startGame_busy = false;

                function startGame_error() {
                    alertify.notify("德州撲克遊戲多桌限制為六桌，您已達此限制，請待目前加入的牌桌結束遊戲後，再重新操作，謝謝", 'error', 10);
                }

                $scope.startGame = function (tableId) {
                    if (!isFlashPlayerInstalled()) {
                        window.location = 'https://get.adobe.com/tw/flashplayer';
                        return;
                    }

                    if (startGame_busy === true) return;
                    startGame_busy = true;
                    $http.post('@Url.Action("TexasHoldem_JoinGroup", "Play")', { tableId: tableId })
                        .then(function successCallback(response) {
                            startGame_busy = false;
                            //console.log('successCallback', response);
                            if (response.data.success === true && response.data.flashvars != null) {
                                var swfUrl = '@String.Format("{0}/games/{1}/Main.swf?v={2}", ConfigHelper.AssetServerUrl, Model.GameName, Model.GameToken)';
                                $('#lobby').remove();
                                embedSwf(swfUrl, response.data.flashvars, 'game', '100%', '100%');
                                return;
                            }
                            startGame_error();
                        }, function errorCallback(response) {
                            startGame_busy = false;
                            //console.log('errorCallback', arguments);
                            startGame_error();
                        });
                }

                $(document).ready(function () {
                    var lobbyHub = $.connection.lobbyHub;

                    lobbyHub.client.notice = function (message, type, wait) {
                        if (type === 'alert') {
                            alertify.alert(message);
                        } else {
                            alertify.notify(message, type, wait);
                        }
                    };

                    lobbyHub.client.updateTables = function (tables) {
                        $scope.tables = tables;
                        $scope.$applyAsync();
                    };

                    $.connection.hub.start().done(function () {
                        lobbyHub.server.joinGroup('@ConfigHelper.NoticeGroupName');
                        lobbyHub.server.joinGroup('@ConfigHelper.TexasHoldemGroupName');
                    });

                    $('.scrollbar-external').scrollbar({
                        'autoScrollSize': false,
                        'scrollx': $('.external-scroll_x'),
                        'scrolly': $('.external-scroll_y')
                    }).show();
                });
            });

        function returnToLobby() {
            removeSWF('game');
            location.reload();
        }

    </script>
</body>
</html>
