@model IG.Dal.Game

@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TransHelper.Ui(String.Format("GameName_{0}", Model.Name))</title>
    <link href="~/assets/css/normalize.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/assets/css/site-game.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/Assets/angular/angular.min.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/swfobject/swfobject.min.js"></script>
    <script src="~/assets/js/site-game.js"></script>
</head>
<body ng-controller="main">
    <div class="lobby" id="lobby">
        <div style="position: absolute; top: 0; left: 0; display: none;">
            <div ng-repeat="table in table_groups | orderBy : 'BigBlind' : order_desc">
                <button ng-click="set_active(table)">{{ table.TableName_@CultureHelper.GetCurrentLanguages() }}</button>
            </div>
        </div>
        <div class="logo"></div>
        <div class="table scrollbar-external_wrapper">
            <div class="thead">
                <ul class="clearfix">
                    <li style="width:18%">@TransHelper.Ui("TableName")</li>
                    <li style="width:20%;cursor:pointer" ng-click="order_desc = !order_desc">@TransHelper.Ui("SmallBigBlind")</li>
                    <li style="width:16%">@TransHelper.Ui("NumOfPlayer")</li>
                    <li style="width:26%">@TransHelper.Ui("MaxMinBuyIn")</li>
                    <li style="width:20%">&nbsp;</li>
                </ul>
            </div>
            <div class="tbody scrollbar-external">
                <ul class="clearfix" ng-repeat="table in tables | orderBy : 'BigBlind' : order_desc" ng-show="table_show(table)">
                    <li style="width:18%">{{ table.TableName_@CultureHelper.GetCurrentLanguages() }}</li>
                    <li style="width:20%">{{ table.SmallBlind | money }} / {{ table.BigBlind | money }}</li>
                    <li style="width:16%">
                        <div class="bar" v-bind:class="'bar-' + playerAmount">
                            <div class="bar-line" ng-class="'bar-line-' + table.PlayerAmount"></div>
                            <div class="player-amount">{{ table.PlayerAmount }} / 7</div>
                        </div>
                    </li>
                    <li style="width:26%">{{ table.BigBlind * 10 | money }} / {{ table.BigBlind * 200 | money }}</li>
                    <li style="width:20%"><a class="btn-play" ng-click="startGame(table.TableId)">@TransHelper.Ui("PlayGame")</a></li>
                </ul>
            </div>
            <div class="external-scroll_y">
                <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar"></div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/assets/scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/texasholdem.css" rel="stylesheet" />
    <script src="~/assets/scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/js/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        alertify.defaults.glossary.title = '@TransHelper.Ui("SystemNotification")';
        alertify.defaults.glossary.ok = '@TransHelper.Ui("Ok")';
        alertify.defaults.glossary.cancel = '@TransHelper.Ui("Cancel")';

        var app = angular.module('app', []
            ).filter('money', function () {
                return formatMoney;
            }).controller('main', function ($scope, $http) {
                $scope.tables = [];
                table_group_index = null;
                $scope.set_active = function (table) {
                    table_group_index = table.BigBlind;
                    console.log(table);
                }
                $scope.table_show = function (table) {
                    if (table_group_index == null) return true;
                    return table_group_index == table.BigBlind
                }
                window.$scope = $scope;

                $scope.order_desc = false;

                $scope.startGame = function (tableId) {
                    window.open('@Url.Action("TexasHoldem", "Play")?tableId=' + tableId, '_blank', 'resizable=yes,location=no,menubar=no,scrollbars=no,status=no,titlebar=no,toolbar=no,width=' + 1280 + ',height=' + 720);
                }

                $(document).ready(function () {
                    var lobbyHub = $.connection.lobbyHub;

                    lobbyHub.client.notice = function (message, type, wait) {
                        if (type === 'alert') {
                            alertify.alert(message);
                        } else {
                            alertify.notify(message, type, wait);
                        }
                    };

                    lobbyHub.client.updateTables = function (tables) {
                        var table_groups = new Array();
                        for (var i = 0; i < tables.length; i++) {
                            var t0 = tables[i];
                            var t1 = table_groups.find(function (t2) {
                                return t0.BigBlind == t2.BigBlind;
                            });
                            if (t1 == undefined) {
                                table_groups.push({
                                    BigBlind: t0.BigBlind,
                                    SmallBlind: t0.SmallBlind,
                                    TableName_CHS: t0.TableName_CHS,
                                    TableName_CHT: t0.TableName_CHT,
                                    TableName_EN: t0.TableName_EN
                                });
                            }
                        }
                        table_groups.push({
                            BigBlind: null,
                            SmallBlind: null,
                            TableName_CHS: 'Show_All',
                            TableName_CHT: 'Show_All',
                            TableName_EN: 'Show_All'
                        });
                        $scope.tables = tables;
                        $scope.table_groups = table_groups;
                        $scope.$applyAsync();
                    };

                    $.connection.hub.start().done(function () {
                        lobbyHub.server.joinGroup('@ConfigHelper.NoticeGroupName');
                        lobbyHub.server.joinGroup('@ConfigHelper.TexasHoldemGroupName');
                    });

                    $('.scrollbar-external').scrollbar({
                        'autoScrollSize': false,
                        'scrollx': $('.external-scroll_x'),
                        'scrolly': $('.external-scroll_y')
                    });
                });
            });
    </script>
</body>
</html>
