@page "/Index1"
@model IndexModel
@{
    //lang.ResPath = "index";
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    @*<link rel="stylesheet" href="~/css/jqx.css" />*@
    <link inline rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link inline rel="stylesheet" href-auto />
</head>
<body class="text-light bg-dark">
    <div class="p00">
        <div class="p10">
            @* header *@
            <button class="btn btn-dark d-none d-lg-block" v-on:click="setPanel(-1, null, null, null)"><i class="fa fa-bars"></i></button>
            <button class="btn btn-dark d-block d-lg-none" v-on:click="setPanel(null, null, -1, false)"><i class="fa fa-bars"></i></button>
            <div class="w-100"></div>
            <button class="btn btn-dark toggle-right" v-on:click="showLogin()"><i class="fa fa-sign-in"></i></button>
            <button class="btn btn-dark d-none d-lg-block" v-on:click="setPanel(null, null, null, -1);"><i class="fa fa-cogs"></i></button>
            <button class="btn btn-dark d-block d-lg-none" v-on:click="setPanel(null, null, false, -1);"><i class="fa fa-cogs"></i></button>
        </div>
        <div class="p20 dock-left">
            @* content *@
            <div class="pusher-left"></div>
            <div class="w-100 h-100 position-relative text-dark bg-white">
                <iframe class="w-100 h-100 border-0"></iframe>
                <div class="content-mask" v-on:click="setPanel(null, null, false, false);"></div>
            </div>
            <div class="pusher-right"></div>
            <div class="sidebar-left bg-dark border border-left-0 border-white"></div>
            <div class="sidebar-right bg-dark border border-right-0 border-white"></div>
        </div>
        <div class="p30">
            @* footer *@
        </div>
    </div>
    <div id="frm_login" class="modal fade text-dark"
         data-is-guest="@UserManager.CurrentUser.Id.IsGuest.ToInt32()"
         data-url="@Url.Action(nameof(AuthController.SignIn), "Auth")">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h5 class="modal-title text-center w-100" lang="">@lang["Login"]</h5>
                        <button type="button" class="close" v-show="closable() && !isBusy()" v-on:click="hideLogin()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row login-group" :data-status="getError('CorpName')">
                            <input class="login-input" type="text" placeholder="@lang["CorpName Hint", "Enter CorpName :"]" v-model="CorpName" />
                            <div class="login-alert" v-on:click="clearError('CorpName')">
                                <span v-if="getError('CorpName') == 4">0</span>
                                <span v-else>&nbsp;</span>
                            </div>
                            @*<div class="col-sm-3">@lang["CorpName"]</div>*@
                            @*<div class="col-sm-9"></div>*@
                        </div>
                        <div class="row login-group" :data-status="getError('UserName')">
                            <input class="login-input" type="text" placeholder="@lang["UserName Hint", "Enter UserName :"]" v-model="UserName" />
                            <div class="login-alert" v-on:click="clearError('UserName')">
                                <span v-if="getError('UserName') == 4">帳號不能為空白</span>
                                <span v-else>&nbsp;</span>
                            </div>
                            @*<div class="col-sm-3">@lang["UserName"]</div>*@
                            @*<div class="col-sm-9"></div>*@
                        </div>
                        <div class="row login-group" :data-status="getError('Password')">
                            <input class="login-input" type="password" placeholder="@lang["Password Hint", "Enter Password :"]" v-model="Password" />
                            <div class="login-alert" v-on:click="clearError('Password')">
                                <span v-if="getError('Password') == 4">@lang[Status.InvalidParameter, "密碼不能為空白"]</span>
                                <span v-else>&nbsp;</span>
                            </div>
                            @*<div class="col-sm-3">@lang["Password"]</div>*@
                            @*<div class="col-sm-9"></div>*@
                        </div>
                        <div class="row login-group">
                            <div class=" btn-group-sm btn-group-toggle btn-group-justified">
                                <label class="btn btn-light" v-bind:class="{ active: LoginType == '@UserType.Agent' }">
                                    <input type="radio" name="loginType" v-model="LoginType" value="@UserType.Agent" autocomplete="off">
                                    @lang[UserType.Agent, "Agent"]
                                </label>
                                <label class="btn btn-light" v-bind:class="{ active: LoginType == '@UserType.Admin' }">
                                    <input type="radio" name="loginType" v-model="LoginType" value="@UserType.Admin" autocomplete="off">
                                    @lang[UserType.Admin, "Admin"]
                                </label>
                                <label class="btn btn-light" v-bind:class="{ active: LoginType == '@UserType.Member' }">
                                    <input type="radio" name="loginType" v-model="LoginType" value="@UserType.Member" autocomplete="off">
                                    @lang[UserType.Member, "Member"]
                                </label>
                            </div>
                            @*<div class="col-sm-3">@lang["LoginType"]</div>*@
                            @*<div class="col-sm-9"></div>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="login-result">{{getApiResult()["Status"]}}</div>
                    <i class="fa fa-2x fa-spinner fa-spin" v-show="isBusy()"></i>
                    <button type="button" class="btn btn-primary" v-bind:class="{ disabled : isBusy() }" v-on:click="execLogin()">@lang["Login"]</button>
                    <button type="button" class="btn btn-primary" v-bind:class="{ disabled : !closable() || isBusy() }" v-on:click="hideLogin()">@lang["Close"]</button>
                </div>
                <div class="login-busy" v-show="isBusy()"></div>
            </div>
        </div>
    </div>
    @*<include src="~/Pages/Login.cshtml"></include>*@
    <script type="text/javascript" src="~/js/bridge-all.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="~/lib/angular/angular.js"></script>*@
    <script type="text/javascript" src="~/lib/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="~/js/require.min.js"></script>
    @*<script src="~/js/jqx.js" asp-append-version="true"></script>*@
    @*<script src="~/js/bridge/ams.js" asp-append-version="true"></script>*@
    <script inline src="~/js/bridge/site.js" asp-append-version="true"></script>
    <script inline src-auto></script>
</body>
</html>
