<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/fonts/fonts.less" />
    <link rel="stylesheet" href="~/css/bootstrap.less" />
    <script src="~/scripts/jquery-1.12.4.js"></script>
    <script src="~/lib/bootstrap_dropdowns_enhancement/js/dropdowns-enhancement.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/respond.js"></script>
    <script src="~/scripts/modernizr-2.8.3.js"></script>
    <script src="~/scripts/angular.js"></script>@*<script src="~/scripts/angular-animate.js"></script>*@
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/scripts/angular-ui.js"></script>
    <script src="~/Scripts/angular-ui-ieshiv.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/string-format.min.js"></script>
    <script src="~/js/util.js"></script>
    @widgets.jqwidgets()
    <script type="text/javascript">$.app_init()</script>
    @{
        WebViewPage page = ViewBag.Page as WebViewPage;
        if (page != null)
        {
            @Bundles.RenderStyles(ViewBag.Page, null, false)
            @Bundles.RenderScripts(ViewBag.Page, null, false)
        }
    }
    @RenderSection("head", false)
</head>
<body ng-controller="main">
    @RenderBody()
</body>
</html>