@using jqx;
@{
    Layout = "~/Views/_Layout.cshtml";
    jqxGrid grid = ViewBag.grid;
}
@section head {
    @Bundles.RenderStyles(ViewBag.Page, null, false)
    @Bundles.RenderScripts(ViewBag.Page, null, false)
    @RenderSection("head", false)
}
@*
@if (IsDetail)
{
    <style type="text/css">
        body { overflow: auto; }
    </style>
    <script type="text/javascript">
        app_init.push(function ($scope, $compile, $http) {
            window.ng_set = function ($row_ext) {
                $scope['@ViewBag.grid.scope_id'] = { ng_row: $row_ext };
                $scope.ng_row = $row_ext;
                $scope.$applyAsync();
            }
        });
    </script>
    @RenderBody()
}
else
{
*@
@{ var p1 = new jqxSplitter {
        width = "100%",
        height = "100%",
        splitBarSize = 1,
        showSplitBar = true,
        orientation = orientation.horizontal,
        resizable = true,
        panel1 = { collapsible = false, size = ViewBag.PanelBody ?? "55%" },
        panel2 = { collapsible = false }
    };
    var p2 = new jqxSplitter
    {
        width = "100%",
        height = "100%",
        splitBarSize = 1,
        showSplitBar = true,
        orientation = orientation.horizontal,
        resizable = true,
        panel1 = { collapsible = false, size = widgets.toolbar_height },
        panel2 = { collapsible = false }
    };
}
    @*@helper row_details2(jqxGrid grid)
        {
            @RenderSection("edit_form", false)
            @RenderSection("add_form", false)
            <div style="overflow: hidden;">
                <section class="ams-row-detail-container" ng-hide="@widgets.row_detail_container(grid)">
                    <div class="loading_mask">Loading <i class="fa fa-fw fa-spin fa-spinner"></i></div>
                </section>
                @RenderSection("row_details", false)
            </div>
    }*@
@helper row_details(jqxGrid grid)
{
    <div>
        <div style="overflow: auto; width: 100%; height: 100%;" ng-hide="@widgets3.ng_edit_form(grid)">@RenderSection("edit_form", false)</div>
        <div style="overflow: auto; width: 100%; height: 100%;" ng-show="@widgets3.ng_add__form(grid)">@RenderSection("add_form", false)</div>
    </div>
}
<div @p1>
    @if (IsSectionDefined("toolbar"))
    {
        <div>
            <div @p2>
                <div>@RenderSection("toolbar", false)</div>
                @row_details(grid)
            </div>
        </div>
    }
    else
    { @row_details(grid) }
    <div>@RenderBody()</div>
</div>
