@inherits _WebViewPage
@using ams;
@using ams.Data;
@{
    CorpInfo corpInfo;
    UserType allow_type;
    if (!LoginUrl.GetCorp(_HttpContext.Current.SiteRootUrl, out corpInfo, out allow_type)) { allow_type = ams.Controllers.UserSignInApiController.DefaultUserType; }
    List<UserType> allow_type_list = new List<UserType>();
    if (allow_type.HasFlag(UserType.Agent)) { allow_type_list.Add(UserType.Agent); }
    if (allow_type.HasFlag(UserType.Admin)) { allow_type_list.Add(UserType.Admin); }
    if (allow_type.HasFlag(UserType.Member)) { allow_type_list.Add(UserType.Member); }
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Bundles.RenderStyles(this, "login", new[] { "~/css/site1.less" }, false, Bundles.bootstrap)
    @Bundles.RenderScripts(this, "login", new string[0] , false, Bundles.jquery, Bundles.bootstrap, Bundles.angular_legacy, Bundles.angular_ui, Bundles.angular_ui_bootstrap, Bundles.angular_ui)
    <script type="text/javascript">
        var app = angular.module('app', ['ui.bootstrap', 'ui.directives']);
        app.controller('main', function ($scope, $http, $window) {
            $scope.form = {
                @if (corpInfo == null) { <text> corpname: '', </text> }
                @if (allow_type_list.Count > 1) { <text> logintype: '@(allow_type_list.Contains(UserType.Agent) ? UserType.Agent : allow_type_list[0])', </text> }
                username: '',
                password: ''
            };
            var _msg = function () {
                this.txt = '';
                this.visible = false;
                this.show = function (txt) {
                    this.txt = txt;
                    this.visible = true;
                }
                this.hide = function () {
                    this.visible = false;
                }
            }
            $scope.msg = {
                corpname: new _msg(),
                username: new _msg(),
                password: new _msg(),
                submit: new _msg(),
            };

            $scope.doLogin = function () {
                $scope.msg.submit.hide();
                var url;
                if ($scope.form.logintype == '@UserType.Agent')
                    url = '@(Url.GetActionUrl<ams.Controllers.AgentAccountApiController>("login"))';
                else if ($scope.form.logintype == '@UserType.Admin')
                    url = '@(Url.GetActionUrl<ams.Controllers.AdminAccountApiController>("login"))';
                else return;
                url = '@(Url.GetActionUrl<ams.Controllers.UserSignInApiController>("login"))'
                $.ajax({
                    contentType: 'application/json',
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    async: true,
                    url: url,
                    data: JSON.stringify($scope.form),
                    success: function (data, textStatus, jqXHR) {
                        //console.log('success', arguments);
                        if (data.Status == '@((int)Status.Success)') {
                            location.reload(true);
                        } else {
                            $scope.msg.submit.show(data.Message);
                            $scope.$apply();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //console.log('error', arguments);
                        $scope.msg.submit.show(textStatus);
                        if (jqXHR.responseJSON != null)
                            $scope.msg.submit.show(jqXHR.responseJSON.Message);
                        $scope.$apply();
                    },
                })
            }
        });

        $(window).resize(function () {
            var n = ($('#main').innerHeight() - $('#login_form').outerHeight()) / 10;
            $('#main').css('padding-top', Math.max(n * 3, 0) + 'px');
        });
        $(document).ready(function () {
            $(window).trigger('resize');
        });
    </script>
</head>
<body ng-controller="main">
    <div id="main">
        <div id="login_form" class="form-horizontal">
            @if (corpInfo == null) {
            <div class="form-group">
                <label class="col-md-3 control-label">@lang["Corp Name"]</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="@(lang[lang["Corp Name"], "Corp Name Hint"])" ng-model="form.corpname" />
                    <div class="alert alert-warning" role="alert" ng-show="msg.corpname.visible">{{msg.corpname.txt}}</div>
                </div>
            </div> }
            <div class="form-group">
                <label class="col-md-3 control-label">@lang["User Name"]</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="@(lang[lang["User Name"], "User Name Hint"])" autofocus ng-model="form.username" />
                    <div class="alert alert-warning" role="alert" ng-show="msg.username.visible">{{msg.username.txt}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">@lang["Password"]</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" placeholder="@(lang[lang["Password"], "Password Hint"])" ng-model="form.password" />
                    <div class="alert alert-warning" role="alert" ng-show="msg.password.visible">{{msg.password.txt}}</div>
                </div>
            </div>
            @if (allow_type_list.Count > 1) {
            <div class="form-group">
                <label class="col-md-3 control-label">@lang["Login Type"]</label>
                <div class="col-md-9">
                    <div class="btn-group btn-group-justified">
                        @foreach (UserType u in allow_type_list)
                        {
                            if (allow_type.HasFlag(u))
                            { <label class="btn btn-primary" ng-model="form.logintype" uib-btn-radio="'@u'">@lang[u]</label> }
                        }
                    </div>
                </div>
            </div> }
            <div class="form-group">
                <div class="col-md-12">
                    <button ng-click="doLogin()" class="btn btn-primary btn-lg btn-block">@lang["Sign in"]</button>
                    <div class="alert alert-danger" role="alert" ng-show="msg.submit.visible">{{msg.submit.txt}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
