@inherits _WebViewPage
@using ams
@using ams.Models
@using ams.Controllers
@{ Layout = null; }
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ams</title>
    <link rel="stylesheet" href="~/fonts/fonts.less" />
    @Bundles.jquery.Render(false)
    @Bundles.bootstrap.Render(false)
    @Bundles.modernizr.Render()
    @Bundles.angular.Render()
    @Bundles.RenderStyles(this, "index", false)
    @Bundles.RenderScripts(this, "index", false)
    <script type="text/javascript">
        var app = angular.module('app', ['ngAnimate', 'ui.bootstrap', 'ui.directives'])
            .config(['$animateProvider', function ($animateProvider) { $animateProvider.classNameFilter(/^(?:(?!ng-animate-disabled).)*$/); /* disable animation */ }])
            .directive('fa', function () { return { scope: false, transclude: false, replace: true, template: '<i class="fa fa-fw"></i>' }; })
            .controller('main', function ($scope) {
                $scope.sidebar = {
                    dock: true, show: true, show_xs: false, h_timeout: 0,
                    mouseenter: function () {
                        clearTimeout($scope.sidebar.h_timeout);
                        $scope.sidebar.h_timeout = setTimeout(function () {
                            $scope.$apply("sidebar.show = true");
                        }, 1000);
                    },
                    mouseleave: function () {
                        clearTimeout(this.h_timeout);
                        if ($scope.sidebar.dock) return;
                        $scope.sidebar.h_timeout = setTimeout(function () {
                            $scope.$apply("sidebar.show = false");
                        }, 1000);
                    },
                    dock_toggle: function (visible) {
                        clearTimeout($scope.sidebar.h_timeout);
                        $scope.sidebar.show = !$scope.sidebar.show;
                    },
                    dock_click: function () {
                        clearTimeout($scope.sidebar.h_timeout);
                        $scope.sidebar.dock = !$scope.sidebar.dock;
                    },
                    dock_class: function () {
                        return [
                            $scope.sidebar.dock ? 'sidebar-dock' : 'sidebar-undock',
                            $scope.sidebar.show ? 'sidebar-show' : 'sidebar-hide',
                            $scope.sidebar.show_xs ? 'sidebar-show-xs' : ''
                        ];
                    }
                };
                window.main_sidebar_dock_toggle = function (visible) {
                    $scope.sidebar.dock_toggle(visible);
                    $scope.$apply();
                }
                $scope._menu = {
                    active: null,
                    items: {},
                    init: function (item) {
                        //console.log(item);
                        if (item.d === true) {
                            this.active = item.id;
                            load_content(item.url);
                        }
                        item.collapse = true;
                        this.items[item.id] = item;
                    },
                    click: function (id) {
                        this.active = id;
                        this.items[id].collapse = !this.items[id].collapse;
                        event.preventDefault();
                        load_content(this.items[id].url);
                        //var url = this.items[id].url;
                        //this.active_url = url;
                        //console.log(this, this.items[id]);
                    },
                    caret: function (id) { return this.items[id].collapse ? '' : 'fa-rotate-270'; },
                };
                $scope.logout = function () {
                    //console.log('logout');
                    $.invoke_api({
                        url: '@(Url.GetActionUrl<UserSignInApiController>("logout"))',
                        success: function (data, textStatus, jqXHR) {
                            location.reload(true);
                            //if (data.Status == '@((int)Status.Success)') { location.reload(true); }
                        },
                    })
                }
                $scope.content_mask = false;

                function set_dropdown_hide(hidden) {
                    if (hidden) { $scope.$apply('content_mask = false'); }
                    else { $scope.$apply('content_mask = true'); }
                }

                $(document).ready(function () {
                    $('#navbar .dropdown, #navbar .dropdown-submenu').on('closeOpened', function (event, opened) {
                        set_dropdown_hide(opened == null);
                    });
                    $(document).click(function () {
                        set_dropdown_hide($('#navbar .dropdown.open').length == 0);
                    });

                    $('#content').on('loadstart', function () {
                        console.log('loadstart', arguments);
                    });

                    $('#content').on('load', function () {
                        //console.log('load', arguments);
                        setTimeout(function () {
                            $('#content-mask2').fadeOut();
                            //    $('#content').fadeIn(400, function () {
                            //    $('#content').each(function () {
                            //        $(this.contentDocument).trigger('resize');
                            //    });
                            //});
                        }, 100);
                    });

                    $(window).resize(function () {
                        var nav_height = $('#navbar').outerHeight();
                        var width = $('#main').innerWidth();
                        var height = $('#main').innerHeight();

                        $('#sidebar-wrapper, #content-wrapper').css('padding-top', nav_height);
                        $.extend($scope.sidebar, { dock: true, show: true, show_xs: false });
                        $scope.$apply();
                    }).trigger('resize');
                });

                function load_content(url) {
                    if (url == null) return;
                    if (url == '') return;
                    $('#content').each(function () {
                        var frame = this;
                        if (frame.src) {
                            frame.src = url;
                        }
                        else if (frame.contentWindow !== null && frame.contentWindow.location !== null) {
                            frame.contentWindow.location = url;
                        }
                        else {
                            frame.setAttribute('src', url);
                        }
                        //$('#content').fadeOut(50);
                        //$('#content-mask2').show();
                        $('#content-mask2').hide();
                    });
                }
            });
    </script>
</head>
<body id="main" ng-controller="main" ng-class="sidebar.dock_class()">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-nav"><fa class="fa-bars"></fa></button>
                <button type="button" class="navbar-toggle" ng-click="sidebar.show_xs = !sidebar.show_xs">
                    <i class="icon14 minia-icon-layout"></i>
                </button>
                <div class="navbar-brand"><a href="~/"><img src="~/img/logo.png" alt="logo"></a></div>
            </div>
            <div id="navbar-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-bell-o"></span>
                            @lang["Messages"]
                            <iframe id="msg_frame" src="@Url.Action("Message", "Home"@*, new { Area = _url.areas.Main }*@)"></iframe>
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>1.</a></li>
                            <li><a>2.</a></li>
                            <li><a>3.</a></li>
                            <li><a>4.</a></li>
                            <li><a>5.</a></li>
                            <li><a>6.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @*<iframe id="msg_frame" src="~/Default/Message"></iframe>*@
                            <span class="fa fa-envelope-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>1.</a></li>
                            <li><a>2.</a></li>
                            <li><a>3.</a></li>
                            <li><a>3.</a></li>
                            <li><a>3.</a></li>
                            <li><a>3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-cog"></span>
                            @lang["Options"]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>Action</a></li>
                            <li><a>Another action</a></li>
                            <li><a>Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a>Separated link</a></li>
                            <li><a>One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <fa class="fa-user"></fa>
                            @_User.Current.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>@lang["Account Detail"]</a></li>
                            <li class="divider"></li>
                            <li><a class="nav-cmd" ng-click="logout()">@lang["Log Out"]</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="sidebar-wrapper" ng-mouseenter="sidebar.mouseenter()" ng-mouseleave="sidebar.mouseleave()">
        <div id="sidebar" class="bg-primary text-primary">
            <div id="toolbar3">
                <span ng-click="sidebar.dock_toggle()" class="pull-right">
                    <span class="fa fa-stack ng-animate-disabled" ng-hide="sidebar.show">
                        <fa class="fa-circle-thin fa-stack-2x"></fa>
                        <fa class="fa-angle-double-right fa-stack-1x"></fa>
                    </span>
                    <span class="fa fa-stack ng-animate-disabled" ng-show="sidebar.show">
                        <fa class="fa-circle-thin fa-stack-2x"></fa>
                        <fa class="fa-angle-double-left fa-stack-1x"></fa>
                    </span>
                </span>
                <span ng-show="sidebar.show" ng-click="sidebar.dock_click()" class="pull-right">
                    <span class="fa fa-stack ng-animate-disabled" ng-hide="sidebar.dock">
                        <fa class="fa-circle-thin fa-stack-2x"></fa>
                        <fa class="fa-toggle-off fa-stack-1x"></fa>
                    </span>
                    <span class="fa fa-stack ng-animate-disabled" ng-show="sidebar.dock">
                        <fa class="fa-circle-thin fa-stack-2x"></fa>
                        <fa class="fa-toggle-on fa-stack-1x"></fa>
                    </span>
                </span>
            </div>
            @Html.Partial("Menu")
        </div>
    </div>
    <div id="content-wrapper">
        <iframe id="content"></iframe>
        <div id="content-mask1" ng-show="content_mask"></div>
        <div id="content-mask2"></div>
    </div>
</body>
</html>
