@{ ViewBag.Title = "Index"; }
@section head {
<link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/supr/html/css/icons.css" rel="stylesheet" />
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
<link href="~/css/bootswatch/cosmo/bootstrap.css" rel="stylesheet" />
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/respond/dest/respond.min.js"></script>
<script src="~/bower_components/modernizr/modernizr.js"></script>
@Styles.Render(BundleConfig.jqwidgets_css)
@Scripts.Render(BundleConfig.jqwidgets_js)
@*<link href="~/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet" />*@
@*<script src="~/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>*@
<script src="~/bower_components/json2/cycle.js"></script>
<script src="~/bower_components/json2/json2.js"></script>
<link href="~/css/_site.css" rel="stylesheet" />
<script src="~/js/_site.js"></script>
@BundleConfig.RenderBundle(this)

@*@Styles.Render(BundleConfig.site_css)*@
@*@Scripts.Render(BundleConfig.site_js)*@

}

@helper fa(string name) { <i class="fa fa-fw fa-@name"></i> }

<div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-nav">
                    <i class="fa fa-bars"></i>
                </button>
                <button type="button" class="navbar-toggle sidebar-toggle-button">
                    <i class="icon14 minia-icon-layout"></i>
                </button>
                <div class="navbar-brand">
                    <img src="~/img/logo.png" alt="logo">
                </div>
            </div>
            <div id="navbar-nav" class="collapse navbar-collapse">
                @*<ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                <button type="button" class="btn btn-default" data-container="false" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on left
                </button>
            </li>*@
                    <li>
                        <a class="sidebar-toggle-button">
                            <i class="icon14 minia-icon-layout"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @*<iframe id="msg_frame" src="~/Default/Message"></iframe>*@
                            <span class="fa fa-bell-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">1.</a>
                            </li>
                            <li><a href="#">2.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @*<iframe id="msg_frame" src="~/Default/Message"></iframe>*@
                            <span class="fa fa-envelope-o"></span>
                            @lang["Messages"]
                            <span class="badge">0</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">1.</a>
                            </li>
                            <li><a href="#">2.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                            <li><a href="#">3.</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-cog"></span>
                            @lang["Options"]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-user"></span>
                            @CurrentUser.Name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="sidebar-wrapper" class="navbar-inverse">
    <div id="sidebar" class="navbar-text">
        <div class="list-group">
            <a class="list-group-item">
                @fa("users")@lang["Accounts"]
            </a>
        </div>
        <ul class="list-group" style="display: none;">
            <li>
                <a>@fa("users")@lang["Accounts"]</a>
                <ul class="list-group">
                    <li>
                        <div>@fa("user")@lang["Member List"]</div>
                    </li>
                    <li>
                        <div>@fa("user")@lang["Member Login Log"]</div>
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("dollar")@lang["Deposit/Withdrawal"]</div>
                <ul class="list-group">
                    <li>
                        @fa("user")@lang["Member List"]
                    </li>
                    <li>
                        @fa("user")@lang["Member Login Log"]
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("dollar")@lang["Game Transaction"]</div>
                <ul class="list-group">
                    <li>
                        @fa("user")@lang["Member List"]
                    </li>
                    <li>
                        @fa("user")@lang["Member Login Log"]
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("dollar")@lang["Promotion"]</div>
                <ul class="list-group">
                    <li>
                        @fa("user")@lang["Member List"]
                    </li>
                    <li>
                        @fa("user")@lang["Member Login Log"]
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("bar-chart")@lang["Reports"]</div>
                <ul class="list-group">
                    <li>
                        @fa("user")@lang["Member List"]
                    </li>
                    <li>
                        @fa("user")@lang["Member Login Log"]
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("gift")@lang["Events"]</div>
                <ul class="list-group">
                    <li>
                        @fa("user")@lang["Member List"]
                    </li>
                    <li>
                        @fa("user")@lang["Member Login Log"]
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("cogs")@lang["Management"]</div>
                <ul class="list-group">
                    <li>
                        @fa("user")@lang["Member List"]
                    </li>
                    <li>
                        @fa("user")@lang["Member Login Log"]
                    </li>
                </ul>
            </li>
            <li>
                <div>@fa("code")@lang["Developer"]</div>
                <ul class="list-group">
                    <li>
                        @fa("database")redis
                    </li>
                    <li>
                        @fa("database")mongoDB
                    </li>
                </ul>
            </li>
        </ul>
        @*<div> @for (int i = 0; i < 100 ; i++) { <text>@i</text> } </div>
        @for (int i = 1; i < 100; i++) { <div>@i</div> }*@
    </div>
    <script type="text/javascript">
  //      var defaultData = [
  //{
  //    text: 'Parent 1',
  //    href: '#parent1',
  //    tags: ['4'],
  //    nodes: [
  //      {
  //          text: 'Child 1',
  //          href: '#child1',
  //          tags: ['2'],
  //          nodes: [
  //            {
  //                text: 'Grandchild 1',
  //                href: '#grandchild1',
  //                tags: ['0']
  //            },
  //            {
  //                text: 'Grandchild 2',
  //                href: '#grandchild2',
  //                tags: ['0']
  //            }
  //          ]
  //      },
  //      {
  //          text: 'Child 2',
  //          href: '#child2',
  //          tags: ['0']
  //      }
  //    ]
  //},
  //{
  //    text: 'Parent 2',
  //    href: '#parent2',
  //    tags: ['0']
  //},
  //{
  //    text: 'Parent 3',
  //    href: '#parent3',
  //    tags: ['0']
  //},
  //{
  //    text: 'Parent 4',
  //    href: '#parent4',
  //    tags: ['0']
  //},
  //{
  //    text: 'Parent 5',
  //    href: '#parent5',
  //    tags: ['0']
  //}
  //      ];
  //      $(document).ready(function () {
  //          $('#sidebar-menu').treeview({ data: defaultData });
  //      });
    </script>
</div>
<div id="content-wrapper">
    <iframe id="content" src="~/Default/Home"></iframe>
    <div id="content-mask" class="hidden"></div>
</div>

@helper menu1(string lang_key = null, string lang_text = null, string icon = null)
{
    <div>
        <i class="fa fa-fw fa-@icon"></i>
        @lang[lang_key, lang_text]
    </div>
}

<div id="sidebar-wrapper1" class="hidden">
    <div id="sidebar" class="navbar navbar-inverse">
        <div id="toolbar">
            <button id="sidebar-toggle-1" class="btn btn-primary sidebar-toggle-button hidden-xs"></button>
            <button class="btn btn-primary fa fa-minus" onclick="_sidebar.hideAll()" title="@lang["collapse_menu", "Collapse All"]"></button>
            <button class="btn btn-primary fa fa-plus" onclick="_sidebar.showAll()" title="@lang["expand_menu", "Expand All"]"></button>
        </div>
        <ul class="list-group">
            <li>
                @menu1("menu-acc", "Accounts", "users")
                <ul class="list-group">
                    <li>
                        <div>1</div>
                        <ul class="list-group">
                            <li>
                                <div>11</div>
                                <ul class="list-group">
                                    <li>111</li>
                                    <li>112</li>
                                    <li>113</li>
                                    <li>114</li>
                                    <li>115</li>
                                </ul>
                            </li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                        </ul>
                    </li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </li>
            <li>
                @menu1("menu-cash", "Deposit/Withdrawal", "dollar")
            </li>
            <li>
                @menu1("menu-gametran", "Game Transaction", "dollar")
            </li>
            <li>
                @menu1("menu-promotion", "Promotion", "dollar")
            </li>
            <li>
                @menu1("menu-reports", "Reports", "bar-chart")
            </li>
            <li>
                @menu1("menu-events", "Events", "gift")
            </li>
            <li>
                @menu1("menu-management", "Management", "cogs")
            </li>
            <li>
                @menu1("menu-dev", "Developer", "code")
            </li>
        </ul>
    </div>
</div>
<div id="content-wrapper1" class="hidden">
    <div id="content">
        <button id="sidebar-toggle-2" class="btn btn-primary sidebar-toggle-button hidden-xs"></button>
        <iframe src="~/Default/Home"></iframe>
    </div>
</div>
