@model IG.Lobby.VA.Models.PlayHtml5ViewModel

@{
    Layout = null;
    var assetUrl = String.Format("{0}/games/{1}", ConfigHelper.AssetServerUrl, Model.GameName);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TransHelper.Ui(String.Format("GameName_{0}", Model.GameName))</title>
    <link href="~/assets/css/normalize.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/assets/css/site-game.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vue.min.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/js/site-game.js"></script>
</head>
<body>
    <div class="game-wrapper">
        <div id="game"></div>
    </div>
    <script src="~/assets/js/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        alertify.defaults.glossary.title = '@TransHelper.Ui("SystemNotification")';
        alertify.defaults.glossary.ok = '@TransHelper.Ui("Ok")';
        alertify.defaults.glossary.cancel = '@TransHelper.Ui("Cancel")';

        function getConfig() {
            return {
                gameUrl: '@assetUrl',
                gameName: '@Model.GameName',
                gameCulture: '@Model.Culture',
                gameFileToken: '@Model.GameToken',
                serverUrl: '@Model.ServerUrl',
                serverPort: '@Model.ServerPort',
                accessToken: '@Model.AccessToken'
            };
        }

        function returnToLobby() {
            window.close();
        }

        $(document).ready(function () {
            var lobbyHub = $.connection.lobbyHub;

            lobbyHub.client.notice = function (message, type, wait) {
                if (type === 'alert') {
                    alertify.alert(message);
                } else {
                    alertify.notify(message, type, wait);
                }
            };

            $.connection.hub.start().done(function () {
                lobbyHub.server.joinGroup('@ConfigHelper.NoticeGroupName');
            });
        });
    </script>
    <script src="@assetUrl/Core.js?v=@Model.GameToken"></script>
    <script src="@assetUrl/UILoader.js?v=@Model.GameToken"></script>
    <script src="@assetUrl/UISystem.js?v=@Model.GameToken"></script>
    <script src="@assetUrl/UIAssets.js?v=@Model.GameToken"></script>
    <script src="@assetUrl/Main.js?v=@Model.GameToken"></script>
</body>
</html>
