@model IG.Lobby.VA.Models.PlayLegacyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TransHelper.Ui(String.Format("GameName_{0}", Model.GameName))</title>
    <link href="~/assets/css/normalize.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/assets/css/site-game.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vue.min.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/swfobject/swfobject.min.js"></script>
    <script src="~/assets/js/site-game.js"></script>
</head>
<body>
    <div class="game-wrapper">
        <div id="game"></div>
    </div>
    <script src="~/assets/js/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        alertify.defaults.glossary.title = '@TransHelper.Ui("SystemNotification")';
        alertify.defaults.glossary.ok = '@TransHelper.Ui("Ok")';
        alertify.defaults.glossary.cancel = '@TransHelper.Ui("Cancel")';

        function startGame() {
            if (!isFlashPlayerInstalled()) {
                window.location = 'https://get.adobe.com/tw/flashplayer';
                return;
            }

            var swfUrl = '@String.Format("{0}/games/loader.swf?v={1}", ConfigHelper.AssetServerUrl, Model.LoaderToken)';
            var flashvars = {
                GameUrl: '@String.Format("{0}/games", ConfigHelper.AssetServerUrl)',
                GameName: '@Model.GameName',
                Token: '@Model.GameToken',
                Culture: '@Model.Culture',
                Width: '@Model.GameWidth',
                Height: '@Model.GameHeight',
                Ip: '@Model.ServerUrl',
                Port: '@Model.ServerPort',
                SessionId: '@Model.AccessToken',
                Account: '@Model.Account'
            };

            embedSwf(swfUrl, flashvars, 'game', '100%', '100%');
        }

        function returnToLobby() {
            removeSWF('game');
            window.close();
        }

        $(document).ready(function () {
            var lobbyHub = $.connection.lobbyHub;

            lobbyHub.client.notice = function (message, type, wait) {
                if (type === 'alert') {
                    alertify.alert(message);
                } else {
                    alertify.notify(message, type, wait);
                }
            };

            $.connection.hub.start().done(function () {
                lobbyHub.server.joinGroup('@ConfigHelper.NoticeGroupName');
            });

            startGame();
        });
    </script>
</body>
</html>
